.caseblock_section {
  max-width: var(--contentWidth);
  margin: auto;
  padding: 120px 0;
}

.caseblock_section li::marker {
  content: "—   ";
}

.caseblock_heading {
  display: flex;
  align-items: flex-end;
  margin-bottom: 48px;
}

.caseblock_heading h4 {
  margin: 0;
}

.caseblock_headingNumber {
  font-size: 116px;
  line-height: 100%;
  font-weight: 200;
  margin: 0;
  margin-right: 48px;
}

@media only screen and (max-width: 1023px) {
  .caseblock_section {
    margin: 0 auto;
    max-width: var(--contentWidthMobile);
    padding: 40px 0 80px 0;
  }

  .caseblock_heading {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 32px;
  }

  .caseblock_headingNumber {
    font-size: 100px;
    line-height: 110%;
  }
}
