<div className="grey-bg" data-bsi-element="caseblock">
      <div className={CaseBlockStyles.section}>
        <div className={CaseBlockStyles.heading}>
          <p className={CaseBlockStyles.headingNumber} data-bsi-element-part="plain-text">
            1
          </p>
          <Subheading subheading="Blockchain and sustainability can go hand in hand?" />
        </div>
        <Text text="In time, blockchain technology holds the potential to provide a positive sustainable impact. Today, however, the blockchain industry has a negative ecological footprint. Bitcoin mining consumes around 90 terawatt-hours of electricity annually. This is more than the annual electricity consumption of Finland, or almost 0.5% of all electricity consumption worldwide*. " />
      </div>
    </div>