<div data-bsi-element="image">
  <img id="6987a230-448b-11ed-b878-0242ac120002" style="max-width: 100%; display: inline-block;" data-bsi-element-part="image" width="600" alt="" src="{{ _imageSrc ? : 'img/example.jpg' }}" />
</div>
