<div data-bsi-element="image-full-width" style="width:532px;">
    <img id="6987a230-448b-11ed-b878-0242ac120002"
        style="max-width: 100%; display:block;width:532px"
        data-bsi-element-part="image"
        width="532"
        alt=""
        src="{{
        _imageSrc
            ? bsi_cx_asset(_imageSrc)
            : bsi_cx_asset('../../../../images/main-story.png')
        }}" />
</div>
