<div data-bsi-element="large-event-full-width" style="background-color: white;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <td>
                    <table align="center"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        width="580"
                        style="border:0;width:580px;">
                        <tbody>
                            <tr>
                                <td align="center"
                                    style="padding-left:24px;padding-right:24px;">
                                    <table width="100%">
                                        <tbody>
                                            <tr>
                                                <td width="532">
                                                    <div width="100%"
                                                        data-bsi-dropzone="d025b9b6-5514-11ed-bdc3-0242ac120002"
                                                        data-bsi-dropzone-allowed-elements="image-full-width">
                                                        {% include '../../elements/image-full-width/template.twig' with {
                                                            _imageSrc: '../../../../images/main-story.png'
                                                        } %}
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr height="26">
                                                <td height="26"
                                                    style="font-size:26px; line-height:26px;"></td>
                                            </tr>
                                            <table align="left"
                                                width="100%"
                                                border="0"
                                                cellpadding="0"
                                                cellspacing="0"
                                                valign="top"
                                                style="width:100%';height:100%;">
                                                <tbody>
                                                    <tr align="center">
                                                        <td width="120px"
                                                            style="height:100%;vertical-align:top;">
                                                            <div style="border-width: 0px !important;margin-top: 0px!important;margin-bottom: 0px !important;height:100%;">
                                                                <div id="9117192e-4649-11ed-b878-0242ac120002"
                                                                    data-bsi-element-part="plain-text"
                                                                    style="font-family:Arial,sans-serif;font-style: normal;font-weight: 700;font-size: 52px;line-height: 100%;">
                                                                    23
                                                                </div>

                                                                <div id="91171802-4649-11ed-b878-0242ac120002"
                                                                    data-bsi-element-part="plain-text"
                                                                    style="font-weight: bold;font-size: 18px; text-align:center;font-family:Arial,sans-serif;font-style: normal;font-weight: 700;font-size: 18px;line-height: 100%;">
                                                                    Dec´22
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td width="440"
                                                            style="vertical-align:top;padding-left:24px;border-left: 2px solid black;">
                                                            <div style="margin-top: 0px!important;margin-bottom: 0px !important;">
                                                                <div align="left">
                                                                    <h3 style="margin:0;font-family: Arial,sans-serif;font-style: normal;font-weight: 700;font-size: 24px;line-height: 120%;"
                                                                        id="911711c2-4649-11ed-b878-0242ac120002"
                                                                        data-bsi-element-part="plain-text">
                                                                        Large
                                                                        Event ut
                                                                        perspiciatis
                                                                        unde
                                                                        omnis
                                                                        iste
                                                                        natus
                                                                        error
                                                                        sit
                                                                        voluptatem
                                                                        accusantium
                                                                        doloremque
                                                                        laudantium
                                                                    </h3>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr height="26">
                                                        <td height="26"
                                                            style="font-size:26px; line-height:26px;"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <tr>
                                                <td width="532"
                                                    style="padding-left: 24px;padding-right:24px">
                                                    <div align="left"
                                                        style="text-align:left; font-family:Arial,sans-serif;font-style: normal;font-weight: 400;font-size: 18px;line-height: 135%;padding-bottom:32px">
                                                        <div style="font-family:Arial,sans-serif;font-style: normal;font-weight: 400;font-size: 18px;line-height: 135%;"
                                                            id="91170fd8-4649-11ed-b878-0242ac120002"
                                                            data-bsi-element-part="plain-text">
                                                            At vero eos et
                                                            accusamus et iusto
                                                            odio dignissimos
                                                            ducimus qui
                                                            blanditiis
                                                            praesentium
                                                            voluptatum deleniti
                                                            atque corrupti quos
                                                            dolores et quas
                                                            molestias excepturi
                                                            sint occaecati
                                                            cupiditate non
                                                            provident, similique
                                                            sunt in culpa qui
                                                            officia deserunt
                                                            mollitia animi
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr height="26">
                                                <td height="26"
                                                    style="font-size:26px; line-height:26px;"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div align="center"
                                                        class="button"
                                                        style="padding-bottom:30px;">
                                                        {% include '../../elements/button/template.twig' with {
                                                            button_radius: 1,
                                                            button_border_width: 2,
                                                            button_border_color: '#023991',
                                                            button_bg_color: '#023991',
                                                            button_height: 48,
                                                            button_padding_top_bottom: 10,
                                                            button_padding_left_right: 23,
                                                            button_label_color: '#ffffff',
                                                            button_font_family: 'Arial, sans-serif',
                                                            button_font_size: 16,
                                                            button_label_text: 'ANMELDEN'
                                                        } %}
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
