<div data-bsi-element="lead" class="lead" data-bsi-element-part="formatted-text">
      <p>{{text ?: "Whether you are a first-time investor or a skilled stock picker, the process of investing will always raise questions. In this section we aim to answer some of the most commonly asked ones."}}</p>
</div>