/* Sections */
@import '../../../components/sections/OverviewpageHero/styles.css';
@import '../../../components/sections/Introduction/styles.css';
@import '../../../components/sections/SliderSection/styles.css';
@import '../../../components/sections/GlossarySection/styles.css';
@import '../../../components/sections/Definitions/styles.css';
@import '../../../components/sections/Interviews/styles.css';
@import '../../../components/sections/Education/styles.css';
@import '../../../components/sections/Contact/styles.css';
@import '../../../components/sections/Footer/styles.css';

/* Elements */
@import '../../../components/elements/Button/styles.css';
@import '../../../components/elements/Chapter/styles.css';
@import '../../../components/elements/Title/styles.css';
@import '../../../components/elements/TeaserTitle/styles.css';
@import '../../../components/elements/Subtitle/styles.css';
@import '../../../components/elements/Subheading/styles.css';
@import '../../../components/elements/Text/styles.css';
@import '../../../components/elements/TextSmall/styles.css';
@import '../../../components/elements/TeaserText/styles.css';
@import '../../../components/elements/Definition/styles.css';
@import '../../../components/elements/Card/styles.css';
@import '../../../components/elements/CardSlider/styles.css';
@import '../../../components/elements/GlossarySlider/styles.css';
@import '../../../components/elements/InterviewTeaser/styles.css';

:root {
    --royalblue: #141e55;
    --reflexblue: #001489;
    --lightblue: #b8c0e8;
    --grey: #f1f2f2;
    --accordionBGC: rgba(20, 30, 85, 0.1);
    --wide: 80%;
    --contentWidth: 590px;
    --contentWidthTablet: calc(100% - 110px);
    --textWidthTablet: calc(100% - 320px);
    --textWidthDesktop: calc(100% - 430px);
    --contentWidthMobile: calc(100% - 32px);
    --normalWidthText: 768px;
}

@font-face {
    font-family: 'VerlagSSm';
    src: url('../../../assets/fonts/VerlagSSm-Book.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'VerlagSSm';
    src: url('../../../assets/fonts/VerlagSSm-Light.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'VerlagSSm';
    src: url('../../../assets/fonts/VerlagSSm-ExtraLight.woff2') format('woff2');
    font-weight: 200;
}

/* General Styles */

body {
    font-family: 'VerlagSSm', 'Arial', sans-serif;
    margin: 0 auto;
    scroll-behavior: smooth;
}

html,
body {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
}

main {
    display: flex;
    flex-direction: column;
}

p {
    margin: 0;
}

@media only screen and (min-width: 1930px) {
    .main {
        max-width: 1920px;
        margin: auto;
    }
}

/* BSI Styles Property Classes */

/* Horizontal Scroll aka Slider Sections */

.white-bg {
    background-color: white;
}

.grey-bg {
    background-color: var(--grey);
    padding: 40px 0;
}

.blue-bg {
    background-color: var(--royalblue);
}

.blue-bg h2,
.blue-bg p {
    color: white;
}

.white-bg h2,
.white-bg p {
    color: black;
}

.blue-bg #overlay {
    background-image: linear-gradient(
        to right,
        var(--royalblue) 50%,
        transparent
    );
}

.white-bg #overlay {
    background-image: linear-gradient(to right, white 50%, transparent);
}

.white-bg div::-webkit-scrollbar {
    border-left: 220px solid white;
    border-right: 20px solid white;
}

.white-bg div::-webkit-scrollbar-thumb {
    background: black;
    border-left: 220px solid white;
    border-right: 20px solid white;
}

.blue-bg div::-webkit-scrollbar {
    border-left: 220px solid var(--royalblue);
    border-right: 20px solid var(--royalblue);
}

.blue-bg div::-webkit-scrollbar-thumb {
    background: white;
    border-left: 220px solid var(--royalblue);
    border-right: 20px solid var(--royalblue);
}

.blue-bg #scrollindicator svg {
    fill: white;
    stroke: white;
}

.white-bg #scrollindicator svg {
    fill: black;
    stroke: black;
}

/* Contact Section */

.one-button > div > div a:nth-last-child(1) {
    display: none;
}

.two-buttons > div > div a:nth-last-child(1) {
    display: flex;
}

/* 
BSI Editor specific styles 
*/

.bsi-ce-edit-mode #definition-section {
    overflow-x: scroll !important;
    overflow-y: hidden !important;
}

.bsi-ce-edit-mode #slidersection {
    height: 1000px;
}

/* Slider Section Styles */

.three-slides li#carousel__slide8,
.three-slides li#carousel__slide7,
.three-slides li#carousel__slide6,
.three-slides li#carousel__slide5,
.three-slides li#carousel__slide4 {
    display: none;
}

.four-slides li#carousel__slide8,
.four-slides li#carousel__slide7,
.four-slides li#carousel__slide6,
.four-slides li#carousel__slide5 {
    display: none;
}

.five-slides li#carousel__slide8,
.five-slides li#carousel__slide7,
.five-slides li#carousel__slide6 {
    display: none;
}

.six-slides li#carousel__slide8,
.six-slides li#carousel__slide7 {
    display: none;
}

.seven-slides li#carousel__slide8 {
    display: none;
}
