.definition_box {
    height: 100%;
    width: 390px;
    min-width: 370px;
    border-left: 1px solid black;
    padding: 40px 32px;
}

.definition_definition {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.definition_title {
    font-weight: 400;
    font-size: 26px;
    line-height: 130%;
    padding-bottom: 26px;
}

.definition_textSmall p {
    font-weight: 400;
}

@media only screen and (max-width: 1023px) {
    .definition_box {
        width: 300px;
        min-width: 290px;
    }

    .definition_title {
        font-weight: 400;
        font-size: 28px;
        line-height: 135%;
        padding-bottom: 16px;
    }

    .definition_textSmall p {
        font-weight: 400;
        font-size: 16px;
        line-height: 148%;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
    .definition_title {
        font-weight: 300;
        font-size: 28px;
        line-height: 135%;
        padding-bottom: 16px;
    }

    .definition_textSmall p {
        font-weight: 300;
        font-size: 16px;
        line-height: 148%;
    }
}
