<div data-bsi-element="definition" class="definition_box">
    <div class="definition_definition">
        <div class="definition_title">
            {% include '../../elements/Subheading/template.twig' with {
                subheading: 'Definition'
            } %}
        </div>
        <div class="definition_textSmall">
            {% include '../../elements/TextSmall/template.twig' with {
                text: 'This is an example text for the Definition element.'
            } %}
        </div>
    </div>
</div>
