<div data-bsi-element="definition" class={styles.box}>
      <div class={styles.definition}>
        <div class={styles.title}>
          <Subheading>
            <p>{props.subheading ?? "Definition"}</p>
          </Subheading>
        </div>
        <div class={styles.textSmall}>
          <TextSmall>
            <p>{props.text ?? "This is an example text for the Definition element."}</p>
          </TextSmall>
        </div>
      </div>
    </div>