<div data-bsi-element="address-full" class="two-column-layout">
    <div data-bsi-dropzone="address-full-container-one"
        style="padding: 0 15px 0 0;">
        {% block custom_section_content_one %}
            {% include '../city/template.twig' %}
        {% endblock %}
    </div>
    <div data-bsi-dropzone="address-full-container-two"
        style="padding: 0 0 0 15px;">
        {% block custom_section_content_two %}
            {% include '../country/template.twig' %}
        {% endblock %}
    </div>
</div>
