.subheading_section {
  max-width: 680px;
  margin: auto;
  display: block;
  width: 100%;
}

.subheading {
  display: block;
}

@media only screen and (max-width: 1023px) {
  .subheading_section {
    max-width: var(--contentWidthMobile);
  }
}
