<div data-bsi-element="text-formatted"
    data-bsi-element-part="formatted-text"
    class="formatted-text">
    {% if text %}
        {{ text|raw }}
    {% else %}
        Sample Text
    {% endif %}
</div>
