{
    "printWidth": 20,
    "twigPrintWidth": 20,
    "maxLineLength": 20,
    "proseWrap": "always",
    "editor.tabSize": 2,
    "tabWidth": 2,
    "plugins": [
        "c:/Users/iryna.alchynska/node_modules/prettier-plugin-twig-melody"
    ],
    "semi": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "bracketSameLine": true,
    "singleAttributePerLine": false,
    "twigAlwaysBreakObjects": true,
    "twigFollowOfficialCodingStandards": true,
    "twigMultiTags": [
        "nav,endnav",
        "switch,case,default,endswitch",
        "ifchildren,endifchildren",
        "cache,endcache"
    ]
}
