<div data-bsi-element="large-story-full-width" style="background-color: white;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <td>
                    <table align="center"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        width="580"
                        style="border:0;width:580px;font-family:Arial,sans-serif;">
                        <tbody>
                            <tr>
                                <td width="580"
                                    style="padding-left:24px; padding-right:24px">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div data-bsi-dropzone="93a899b6-4435-4399-b352-61e347f79038"
                                                        data-bsi-dropzone-allowed-elements="image-full-width">
                                                        {% include '../../elements/image-full-width/template.twig' with {
                                                            _imageSrc: '../../../../images/main-story.png'
                                                        } %}
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr height="26">
                                                <td height="26"
                                                    style="font-size:26px; line-height:26px;"></td>
                                            </tr>
                                            <tr>
                                                <td width="532">
                                                    <div align="left">
                                                        <h3 id="d10e5d9a-4643-11ed-b878-0242ac120002"
                                                            style="margin:0px;font-family:Arial,sans-serif;font-style: normal;font-weight: 700;font-size: 24px;line-height: 120%;"
                                                            data-bsi-element-part="plain-text">
                                                            Large Story ut
                                                            perspiciatis unde
                                                            omnis iste natus
                                                            error sit voluptatem
                                                            accusantium
                                                            doloremque
                                                            laudantium
                                                        </h3>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr height="22">
                                                <td height="22"
                                                    style="font-size:22px; line-height:22px;"></td>
                                            </tr>
                                            <tr>
                                                <td width="532">
                                                    <div align="left"
                                                        style="text-align:left; font-family:Arial,sans-serif;
                                        font-style: normal;font-weight: 400;font-size: 18px;line-height: 135%;">
                                                        <div style="text-align:left; font-family:Arial,sans-serif;
                                        font-style: normal;font-weight: 400;font-size: 18px;line-height: 135%;"
                                                            id="d10e5bd8-4643-11ed-b878-0242ac120002"
                                                            data-bsi-element-part="plain-text">
                                                            At vero eos et
                                                            accusamus et iusto
                                                            odio dignissimos
                                                            ducimus qui
                                                            blanditiis
                                                            praesentium
                                                            voluptatum deleniti
                                                            atque corrupti quos
                                                            dolores et quas
                                                            molestias excepturi
                                                            sint occaecati
                                                            cupiditate non
                                                            provident, similique
                                                            sunt in culpa qui
                                                            officia deserunt
                                                            mollitia animi
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr height="26">
                                                <td height="26"
                                                    style="font-size:26px; line-height:26px;"></td>
                                            </tr>
                                            <tr>
                                                <td width="532">
                                                    <div align="left"
                                                        class="button">
                                                        {% include '../../elements/button-with-arrow/template.twig' with {
                                                            button_arrow_border: null,
                                                            button_arrow_radius: null,
                                                            button_arrow_border_width: null,
                                                            button_arrow_border_color: transparant,
                                                            button_arrow_bg_color: transparant,
                                                            button_arrow_height: 48,
                                                            button_arrow_padding_top_bottom: 10,
                                                            button_arrow_padding_left_right: 0,
                                                            button_arrow_label_color: '#023991',
                                                            button_arrow_font_family: 'Arial, sans-serif',
                                                            button_arrow_font_size: 18,
                                                            button_arrow_label_text: 'read more',
                                                            button_arrow_border_style: null,
                                                            text_arrow_transform: lowercase,
                                                            button_arrow_href: '[LINK2]'
                                                        } %}
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <tr height="24">
                                        <td height="24"></td>
                                    </tr>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
