<div data-bsi-element="cta-full-width">
    <table align="center"
        border="0"
        cellpadding="0"
        cellspacing="0"
        role="presentation"
        width="100%">
        <tbody>
            <tr>
                <td>
                    <table align="center"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        role="presentation"
                        style="border-radius:0;color:#000;width:532px;"
                        width="532">
                        <tbody>
                            <tr>
                                <td style="width: 532px;background-color:#f6f6f8;font-weight:400;text-align:left;padding-left:15px;padding-right:15px;vertical-align:top;padding-top:20px;padding-bottom:48px;border-top:0;border-right:0;border-bottom:0;border-left:0"
                                    width="532">
                                    <table border="0"
                                        cellpadding="0"
                                        cellspacing="0"
                                        role="presentation"
                                        style="word-break:break-word"
                                        width="100%">
                                        <tbody>
                                            <tr>
                                                <td style="padding-bottom:10px;padding-left:15px;padding-right:15px;padding-top:10px">
                                                    <div style="font-family:Arial,sans-serif">
                                                        <div style="font-size:12px;font-family:Arial,sans-serif;color:#000;line-height:1.2">
                                                            <p id="5514a412-4547-11ed-b878-0242ac120002"
                                                                data-bsi-element-part="plain-text"
                                                                style="margin:0;font-size:16px;text-align:center;font-family: Arial,sans-serif;font-style: normal;font-weight: 700;font-size: 24px;line-height: 120%;">
                                                                Ready to
                                                                takeoff?
                                                            </p>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table border="0"
                                        cellpadding="0"
                                        cellspacing="0"
                                        role="presentation"
                                        style="word-break:break-word"
                                        width="100%">
                                        <tbody>
                                            <tr>
                                                <td style="padding-left:25px;padding-right:25px;padding-top:40px">
                                                    <div style="font-family:Arial,sans-serif">
                                                        <div style="font-size:12px;color:#000;line-height:1.2;font-family:Arial,sans-serif">
                                                            <p data-bsi-element-part="formatted-text"
                                                                id="5514a412-4547-11ed-b878-0242ac120002"
                                                                style="margin:0;font-size:12px;text-align:center;font-family:Arial,sans-serif;font-style: normal;font-weight: 400;font-size: 18px;line-height: 135%;">
                                                                Sprechen Sie mit
                                                                unseren
                                                                Expert:innen
                                                                oder lernen SIe
                                                                uns persönlich
                                                                kennen.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr height="32">
                                                <td height="32"></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <div align="center" class="button">
                                        {% include '../../elements/button/template.twig' with {
                                            button_radius: 1,
                                            button_border_width: 2,
                                            button_border_color: '#023991',
                                            button_bg_color: '#023991',
                                            button_height: 48,
                                            button_padding_top_bottom: 10,
                                            button_padding_left_right: 23,
                                            button_label_color: '#ffffff',
                                            button_font_family: 'Arial, sans-serif',
                                            button_font_size: 16,
                                            button_label_text: 'Kontakt Aufnehmen'
                                        } %}
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
