<div data-bsi-element="checkbox-block">
    <div id="checkboxesBlock-wrapper">
        <div data-bsi-element-part="form-checkbox"
            class="custom-checkbox-container"
            data-bsi-form-field-fixed-type="">
            <input id="sample-checkbox-1"
                name="sample-checkbox-1"
                type="checkbox"
                class="custom-checkbox-field last-two-boxes"
                spellcheck="false" />
            <label for="sample-checkbox-1" data-bis-element-part="plain-text">
                Ich bin damit einverstanden, dass die Bank Julius Bär
                Deutschland AG mit mir Kontakt aufnehmen darf und meine
                persönlichen Daten für eigene Marketingzwecke der Bank und
                Konzerngesellschaften der Julius Bär Gruppe verarbeiten und
                somit auch Ihre persönlichen Daten an Konzerngesellschaften der
                Julius Bär Gruppe im In- und Ausland übermitteln dürfen. Ihre
                Daten werden dabei nicht zu Marketingzwecken an sonstige Dritte
                Weitergegeben. Weitere Informationen zum Thema Datenschutz, zu
                Ihnen Rechten sowie zur Möglichkeit zum Widerruf in der
                [Datenschutzerklärung fur Interessenten] zusammengefasst.
            </label>
            <span class="custom-checkbox-frame"></span>
        </div>
        <div data-bsi-element-part="plain-text" class="text-between">
            Sollten Sie in Zukunft kein Interesse an einer Kontaktaufnahme
            haben, können Sie uns dies selbstverständlich ebenfalls mitteilen:
        </div>
        <div data-bsi-element-part="form-checkbox"
            class="custom-checkbox-container"
            data-bsi-form-field-fixed-type="">
            <input id="sample-checkbox-2"
                name="sample-checkbox-2"
                type="checkbox"
                class="custom-checkbox-field last-two-boxes"
                spellcheck="false" />
            <label for="sample-checkbox-2" data-bis-element-part="plain-text">
                Ich habe kein Interesse, zukünftig weitere Informationen oder
                Einladungen zu Veranstaltungen zu erhalten und möchte nicht
                weiter von der Bank kontaktiert werden.
            </label>
            <span class="custom-checkbox-frame"></span>
        </div>
    </div>
</div>
