.interviews_section {
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    padding: 120px 0;
}

.interviews_chapter {
    padding: 40px;
    margin: auto 0;
}

.interviews_chapter div:first-child {
    transform: rotate(-90deg);
}

.interviews_columnOne {
    max-width: calc(50vw - 130px);
    box-sizing: border-box;
    padding-right: 96px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.interviews_content {
    margin-bottom: 130px;
}

.interviews_content h2 {
    margin: 0;
}

.interviews_content h2,
.interviews_content p {
    max-width: 70%;
}

.interviews_columnTwo {
    padding-left: 96px;
}

@media only screen and (max-width: 1023px) {
    .interviews_section {
        flex-direction: column;
        max-width: 100vw;
        padding: 60px 0;
    }

    .interviews_chapter {
        width: var(--contentWidthMobile);
        margin: auto;
        padding: 0;
        margin-bottom: 40px;
    }

    .interviews_chapter div:first-child {
        transform: unset;
    }

    .interviews_columnOne,
    .interviews_columnTwo {
        width: var(--contentWidthMobile);
        max-width: var(--contentWidthMobile);
        margin: auto;
        padding: unset;
        align-items: center;
    }

    /* .interviews_columnOne > div,
    .interviews_columnTwo > div {
        max-width: var(--contentWidthMobile);
        width: var(--contentWidthMobile);
    } */

    .interviews_columnOne > div {
        width: 100%;
    }

    .interviews_content {
        margin-bottom: 40px;
    }
}
