<div className={interviews.section} data-bsi-element="interviews">
      <div className={interviews.chapter}>
        <Chapter />
      </div>
      <div className={interviews.columnOne}>
        <div className={interviews.content}>
          <Subtitle />
          <TextSmall text="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod." />
        </div>
        <div data-bsi-dropzone="interview-teaser-one">
          <InterviewTeaser />
        </div>
      </div>
      <div className={interviews.columnTwo}>
        <div data-bsi-dropzone="interview-teaser-two">
          <InterviewTeaser />
        </div>
      </div>
    </div>