<div class="interviews_section" data-bsi-element="interviews">
    <div class="interviews_chapter">
        {% include '../../elements/Chapter/template.twig' %}
    </div>
    <div class="interviews_columnOne">
        <div class="interviews_content">
            {% include '../../elements/Subtitle/template.twig' with {
                text: 'Sample Subtitle'
            } %}
            {% include '../../elements/TextSmall/template.twig' with {
                text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.'
            } %}
        </div>
        <div data-bsi-dropzone="interview-teaser-one">
            <InterviewTeaser />
            {% include '../../elements/InterviewTeaser/template.twig' %}
        </div>
    </div>
    <div class="interviews_columnTwo">
        <div data-bsi-dropzone="interview-teaser-two">
            {% include '../../elements/InterviewTeaser/template.twig' %}
        </div>
    </div>
</div>
