/* @font-face {
  font-family: "TT Norms";
  src: url("../../../resources/fonts/TTNormsProXBd.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "TT Norms";
  src: url("../../../resources/fonts/TTNormsProBd.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "TT Norms";
  src: url("../../../resources/fonts/TTNormsProRg.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "TT Norms";
  src: url("../../../resources/fonts/TTNormsProLt.woff2") format("woff2");
  font-weight: 200;
} */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    position: relative;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: $primaryColorText;
    font-size: 16px;
    line-height: 1.5;
    height: 100%;
}

* {
    font-family: Arial, sans-serif;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
}
