<div data-bsi-element="two-columns-gradient" id="two-columns-gradient">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <td>
                    <table align="center"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        width="100%"
                        style="border:0;">
                        <tbody>
                            <tr>
                                <td style="padding: 15px;">
                                    <table align="center"
                                        role="presentation"
                                        border="0"
                                        cellpadding="0"
                                        cellspacing="0"
                                        style="width: {{
                                        _contentWidth
                                            ?
                                            : '100%'
                                        }};">
                                        <tbody>
                                            <tr>
                                                <td valign="top"
                                                    align="left"
                                                    style="padding-top: 0px;height:100%;">
                                                    <table align="left"
                                                        border="0"
                                                        width="49%"
                                                        cellpadding="0"
                                                        cellspacing="0"
                                                        valign="top"
                                                        style="width: {{
                                                        _columnWidth
                                                            ?
                                                            : '27%'
                                                        }};height:100%;">
                                                        <tbody>
                                                            <tr align="center">
                                                                <td style="height:100%;">
                                                                    <div data-bsi-dropzone="columnLeft"
                                                                        class="column"
                                                                        style="border-width: 0px !important;margin-top: 0px!important;margin-bottom: 0px !important;height:100%;">
                                                                        {% block columnLeft %}

                                                                        {% endblock %}
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table align="right"
                                                        border="0"
                                                        cellpadding="0"
                                                        width="49%"
                                                        cellspacing="0"
                                                        valign="top"
                                                        style="width: {{
                                                        _columnWidth
                                                            ?
                                                            : '73%'
                                                        }};">
                                                        <tbody>
                                                            <tr align="center">
                                                                <td>
                                                                    <div data-bsi-dropzone="columnRight"
                                                                        class="column"
                                                                        style="border-width: 0px !important;margin-top: 0px!important;margin-bottom: 0px !important;">
                                                                        {% block columnRight %}

                                                                        {% endblock %}
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
