<div data-bsi-element="header">
    <table border="0"
        cellpadding="0"
        cellspacing="0"
        width="100%">
        <tbody>
            <tr>
                <td>
                    <table align="center"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        width="100%"
                        style="border:0;">
                        <tbody>
                            <tr>
                                <td>
                                    <table align="center"
                                        role="presentation"
                                        border="0"
                                        cellpadding="0"
                                        cellspacing="0"
                                        width="580"
                                        style="width:580px">
                                        <tbody>
                                            <tr>
                                                <td valign="top"
                                                    align="left"
                                                    style="padding-top: 24px;padding-left:24px"
                                                    width="474">
                                                    <div style="border-width: 0px !important;margin:0px !important">
                                                        <div align="left"
                                                            style="line-height:10px">
                                                            <img id="213846a4-4681-11ed-b878-0242ac120002"
                                                                data-bsi-element-part="image"
                                                                alt="I'm an logo"
                                                                src="{{
                                                                bsi_cx_asset(
                                                                    '../../../../images/logo-1.png'
                                                                )
                                                                }}"
                                                                style="display:block;height:auto;border:0;width:82px;margin:0 !important;height:30px;"
                                                                title="I'm a logo"
                                                                width="82"
                                                                height="30" />
                                                        </div>
                                                    </div>
                                                </td>

                                                <div class="web-wrapper"
                                                    style="display: flex;flex-direction: row;justify-content: flex-end;align-items: center;margin-right:5px;display:block;margin-right:5px;">
                                                    <td align="right"
                                                        width="20"
                                                        style="padding-top: 24px;">
                                                        <img src="{{
                                                            bsi_cx_asset(
                                                                '../../../../images/webversion.png'
                                                            )
                                                            }}"
                                                            alt="language"
                                                            width="16"
                                                            height="16" />
                                                    </td>
                                                    <td align="right"
                                                        width="86"
                                                        style="padding-right: 24px;padding-top:24px;">
                                                        <a id="2138451e-4681-11ed-b878-0242ac120002"
                                                            data-bsi-element-part="link"
                                                            style="padding-left:5px;font-family: 'TT Norms';font-style: normal;font-weight: 400;font-size: 16px;line-height: 120%;
                                      color: #033A92;margin-left: 10px;text-decoration:none;margin-left:5px"
                                                            class="webview"
                                                            href="[WEBVIEW]">
                                                            Webversion
                                                        </a>
                                                    </td>
                                                </div>
                                            </tr>
                                            <tr height="24">
                                                <td height="24"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
