<div data-bsi-element="header">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <td>
                    <table align="center"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        width="580"
                        style="border:0;">
                        <tbody>
                            <tr>
                                <td style="padding-left:24px;padding-right: 24px;">
                                    <table align="center"
                                        role="presentation"
                                        border="0"
                                        cellpadding="0"
                                        cellspacing="0"
                                        width="532"
                                        style="width:532px;">
                                        <tbody>
                                            <tr>
                                                <td valign="top"
                                                    align="left"
                                                    style="vertical-align:top;"
                                                    width="410">
                                                    <div style="border-width: 0px !important;margin:0px !important">
                                                        <div align="left"
                                                            style="line-height:10px">
                                                            <img id="213846a4-4681-11ed-b878-0242ac120002"
                                                                data-bsi-element-part="image"
                                                                alt="I'm an logo"
                                                                src="{{
                                                                bsi_cx_asset(
                                                                    '../../../../images/logo-1.png'
                                                                )
                                                                }}"
                                                                style="display:block;height:auto;border:0;width:82px;margin:0 !important;height:30px;"
                                                                title="I'm a logo"
                                                                width="82" />
                                                        </div>
                                                    </div>
                                                </td>
                                                <td align="right"
                                                    valign="middle"
                                                    style="width:105px;vertical-align:middle;padding-left:5px;font-family: Arial, sans-serif;font-style: normal;font-weight: 400;font-size: 16px;line-height: 120%;width: 105px;">
                                                    <img src="{{
                                                        bsi_cx_asset(
                                                            '../../../../images/webversion.png'
                                                        )
                                                        }}"
                                                        alt="language"
                                                        width="16"
                                                        height="16"
                                                        align="left"
                                                        style="display: block;float: left;" />
                                                    <a id="link"
                                                        data-bsi-element-part="link"
                                                        style="width: 100%; font-family: Arial,sans-serif;font-style: normal;
            font-weight: 400;font-size: 16px;line-height: 120%;
            color: #033A92;margin-left: 10px;text-decoration:none;margin-left: 0;"
                                                        class="webview"
                                                        href="https://www.example.org"
                                                        align="right">
                                                        Webversion
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr height="24">
                                                <td height="24"
                                                    style="line-height: 24px;"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
