<div data-bsi-element="slidersection"
    id="slidersection"
    class="blue-bg eight-slides slidersection_slidersection">
    <div class="slidersection_chapter">
        <div class="slidersection_chapterBox">
            {# <Chapter /> #}
            {# <SideNavigation active="two" /> #}
        </div>
    </div>
    <div id="overlay" class="slidersection_overlay">
        {% include '../../elements/Subtitle/template.twig' with {
            subtitle: 'How to invest'
        } %}
        {% include '../../elements/TextSmall/template.twig' with {
            text: 'Explore the chapters of our guide to investing'
        } %}
        <div class="slidersection_controls">
            <div class="slidersection_controlLeft" id="prevcard">
                <img src="{{ bsi_cx_asset('./arrow-left.svg') }}" />
            </div>
            <div class="slidersection_controlRight" id="nextcard">
                <img src="{{ bsi_cx_asset('./arrow-right.svg') }}" />
            </div>
        </div>
        {# <div class="slidersection_arrows">
            <a id="prevcard">
                <img class="slidersection_arrowPrev"
                    src="icons/arrow-right.svg" />
            </a>
            <a id="nextcard">
                <img class="slidersection_arrowNext"
                    src="icons/arrow-right.svg" />
            </a>
        </div> #}
    </div>
    {% include '../../elements/CardSlider/template.twig' with {
        text: 'Explore the chapters of our guide to investing'
    } %}
</div>
