<div data-bsi-element="main-event-full-width" style="background-color: white;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <td>
                    <table align="center"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        width="580"
                        style="border:0;width:580px;">
                        <tbody>
                            <tr>
                                <td width="532px"
                                    style="padding-left:24px;padding-right:24px">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div data-bsi-dropzone="d025b542-5514-11ed-bdc3-0242ac120002"
                                                        data-bsi-dropzone-allowed-elements="image-full-width">
                                                        {% include '../../elements/image-full-width/template.twig' with {
                                                            _imageSrc: '../../../../images/main-story.png'
                                                        } %}
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr height="32">
                                                <td height="32"
                                                    style="font-size:30px; line-height:30px;"></td>
                                            </tr>
                                            <tr>
                                                <td width="532">
                                                    <div align="left"
                                                        style="text-align:left; font-family:Arial,sans-serif;font-style: normal;font-weight: 400;font-size: 21px;line-height: 135%;">
                                                        <div style="text-align:left; font-family:Arial,sans-serif;font-style: normal;font-weight: 400;font-size: 21px;line-height: 135%;"
                                                            id="1a847c22-463d-11ed-b878-0242ac120002"
                                                            data-bsi-element-part="plain-text">
                                                            At vero eos et
                                                            accusamus et iusto
                                                            odio dignissimos
                                                            ducimus qui
                                                            blanditiis
                                                            praesentium
                                                            voluptatum deleniti
                                                            atque corrupti quos
                                                            dolores et quas
                                                            molestias excepturi
                                                            sint occaecati
                                                            cupiditate non
                                                            provident, similique
                                                            sunt in culpa qui
                                                            officia deserunt
                                                            mollitia animi
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr height="28">
                                                <td height="28"
                                                    width="100%"
                                                    style="font-size:28px; line-height:28px;">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div align="left"
                                                        style="text-align:left; font-family:Arial,sans-serif;font-style: normal;font-weight: 700;font-size: 21px;line-height: 120%;padding-bottom:32px">
                                                        <div style="text-align:left; font-family:Arial,sans-serif;font-style: normal;font-weight: 700;font-size: 21px;line-height: 120%;padding-bottom:32px"
                                                            id="1a847880-463d-11ed-b878-0242ac120002"
                                                            data-bsi-element-part="plain-text">
                                                            Location:
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr height="28">
                                                <td height="28"
                                                    width="100%"
                                                    style="font-size:28px; line-height:28px;">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div align="left"
                                                        style="text-align:left; font-family:Arial,sans-serif;font-style: normal;font-weight: 400;font-size: 18px;line-height: 135%;padding-bottom:32px">
                                                        <div style="text-align:left; font-family:Arial,sans-serif;font-style: normal;font-weight: 700;font-size: 21px;line-height: 120%;padding-bottom:32px"
                                                            id="1a847682-463d-11ed-b878-0242ac120002"
                                                            data-bsi-element-part="plain-text">
                                                            Location:
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr height="28">
                                                <td height="28"
                                                    width="100%"
                                                    style="font-size:28px; line-height:28px;">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div align="left"
                                                        style="text-align:left; font-family:Arial,sans-serif;font-style: normal;font-weight: 700;font-size: 21px;line-height: 120%;padding-bottom:32px">
                                                        <div style="text-align:left; font-family:Arial,sans-serif;font-style: normal;font-weight: 700;font-size: 21px;line-height: 120%;padding-bottom:32px"
                                                            id="1a8470ba-463d-11ed-b878-0242ac120002"
                                                            data-bsi-element-part="plain-text">
                                                            Speaker:
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr height="28">
                                                <td height="28"
                                                    width="100%"
                                                    style="font-size:28px; line-height:28px;">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div align="left"
                                                        style="text-align:left; font-family:Arial,sans-serif;font-style: normal;font-weight: 400;font-size: 18px;line-height: 135%;padding-bottom:32px">
                                                        <div style="text-align:left; font-family:Arial,sans-serif;font-style: normal;font-weight: 700;font-size: 21px;line-height: 120%;padding-bottom:32px"
                                                            id="1a846ebc-463d-11ed-b878-0242ac120002"
                                                            data-bsi-element-part="plain-text">
                                                            Speaker:
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr height="28">
                                                <td height="28"
                                                    width="100%"
                                                    style="font-size:28px; line-height:28px;">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div align="left"
                                                        style="text-align:left; font-family:Arial,sans-serif;font-style: normal;font-weight: 700;font-size: 21px;line-height: 120%;padding-bottom:32px">
                                                        <div style="text-align:left; font-family:Arial,sans-serif;font-style: normal;font-weight: 700;font-size: 21px;line-height: 120%;padding-bottom:32px"
                                                            id="fa11370e-463d-11ed-b878-0242ac120002"
                                                            data-bsi-element-part="plain-text">
                                                            Themen:
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr height="28">
                                                <td height="28"
                                                    width="100%"
                                                    style="font-size:28px; line-height:28px;">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="532">
                                                    <div align="left"
                                                        style="text-align:left; font-family:Arial,sans-serif;font-style: normal;font-weight: 400;font-size: 18px;line-height: 135%;">
                                                        <div style="text-align:left; font-family:Arial,sans-serif;font-style: normal;font-weight: 400;font-size: 18px;line-height: 135%;padding-bottom:32px"
                                                            id="fa1134e8-463d-11ed-b878-0242ac120002"
                                                            data-bsi-element-part="plain-text">
                                                            At vero eos et
                                                            accusamus et iusto
                                                            odio dignissimos
                                                            ducimus qui
                                                            blanditiis
                                                            praesentium
                                                            voluptatum deleniti
                                                            atque corrupti quos
                                                            dolores et quas
                                                            molestias excepturi
                                                            sint occaecati
                                                            cupiditate non
                                                            provident, similique
                                                            sunt in culpa qui
                                                            officia deserunt
                                                            mollitia animi
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr height="28">
                                                <td height="28"
                                                    width="100%"
                                                    style="font-size:28px; line-height:28px;">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="532">
                                                    <div align="left"
                                                        style="text-align:left; font-family:Arial,sans-serif;font-style: normal;font-weight: 400;font-size: 18px;line-height: 135%;">
                                                        <div style="font-family:Arial,sans-serif;"
                                                            id="fa113344-463d-11ed-b878-0242ac120002"
                                                            data-bsi-element-part="plain-text">
                                                            At vero eos et
                                                            accusamus et iusto
                                                            odio dignissimos
                                                            ducimus qui
                                                            blanditiis
                                                            praesentium
                                                            voluptatum deleniti
                                                            atque corrupti quos
                                                            dolores et quas
                                                            molestias excepturi
                                                            sint occaecati
                                                            cupiditate non
                                                            provident, similique
                                                            sunt in culpa qui
                                                            officia deserunt
                                                            mollitia animi
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr height="28">
                                                <td height="28"
                                                    width="100%"
                                                    style="font-size:28px; line-height:28px;">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div align="center"
                                                        class="button">
                                                        {% include '../../elements/button/template.twig' with {
                                                            button_radius: 1,
                                                            button_border_width: 2,
                                                            button_border_color: '#023991',
                                                            button_bg_color: '#023991',
                                                            button_height: 48,
                                                            button_padding_top_bottom: 10,
                                                            button_padding_left_right: 23,
                                                            button_label_color: '#ffffff',
                                                            button_font_family: 'Arial,sans-serif',
                                                            button_font_size: 16,
                                                            button_label_text: 'Kontakt Aufnehmen'
                                                        } %}
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <tr height="24">
                                        <td height="24"></td>
                                    </tr>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
