<div data-bsi-element="main-event-full-width" style="background-color: white;">
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
      <tr>
        <td>
          <table align="center" border="0" cellpadding="0" cellspacing="0" width="600px" style="border:0;width:600px;">
            <tbody>
              <tr>
                <td width="600px" style="padding-bottom: 10px;">
                  <div data-bsi-dropzone="d025b542-5514-11ed-bdc3-0242ac120002" data-bsi-dropzone-allowed-elements="image-full-width">
                    {% include '../../elements/image-full-width/template.twig' with { _imageSrc: '../../../../images/main-story.png' } %}
                  </div>
                  <div class="spacer" data-bsi-hide-edit-button="true">
                    <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" height="30">
                      <tbody>
                        <tr height="30">
                          <td height="30" width="100%" style="font-size:30px; line-height:30px;">&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div align="left" style="text-align:left; font-family: 'TT Norms';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 135%;padding-bottom:32px">
                    <div id="1a847c22-463d-11ed-b878-0242ac120002" data-bsi-element-part="plain-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi</div>
                  </div>
                  <div align="left" style="text-align:left; font-family:TT Norms;
font-style: normal;
font-weight: 700;
font-size: 21px;
line-height: 120%;padding-bottom:32px">
                    <div id="1a847880-463d-11ed-b878-0242ac120002" data-bsi-element-part="plain-text">Location:</div>
                  </div>
                  <div align="left" style="text-align:left; font-family:TT Norms;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 135%;padding-bottom:32px">
                    <div id="1a847682-463d-11ed-b878-0242ac120002" data-bsi-element-part="plain-text">Location:</div>
                  </div>
                  <div align="left" style="text-align:left; font-family:TT Norms;
font-style: normal;
font-weight: 700;
font-size: 21px;
line-height: 120%;padding-bottom:32px">
                    <div id="1a8470ba-463d-11ed-b878-0242ac120002" data-bsi-element-part="plain-text">Speaker:</div>
                  </div>
                  <div align="left" style="text-align:left; font-family:TT Norms;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 135%;padding-bottom:32px">
                    <div id="1a846ebc-463d-11ed-b878-0242ac120002" data-bsi-element-part="plain-text">Speaker:</div>
                  </div>
                  <div align="left" style="text-align:left; font-family:TT Norms;
font-style: normal;
font-weight: 700;
font-size: 21px;
line-height: 120%;padding-bottom:32px">
                    <div id="fa11370e-463d-11ed-b878-0242ac120002" data-bsi-element-part="plain-text">Themen:</div>
                  </div>
                  <div align="left" style="text-align:left; font-family:TT Norms;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 135%;padding-bottom:32px">
                    <div id="fa1134e8-463d-11ed-b878-0242ac120002" data-bsi-element-part="plain-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi</div>
                  </div>
                  <div class="spacer" data-bsi-hide-edit-button="true">
                    <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" height="32">
                      <tbody>
                        <tr height="32">
                          <td height="32" width="100%" style="font-size:30px; line-height:30px;">&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div align="left" style="text-align:left; font-family:TT Norms;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 135%;padding-bottom:32px">
                    <div id="fa113344-463d-11ed-b878-0242ac120002" data-bsi-element-part="plain-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi</div>
                  </div>
                  <div align="center" class="button" style="padding-bottom:30px;">
                    <a id="fa1131aa-463d-11ed-b878-0242ac120002" data-bsi-element-part="link" id="5514ac5a-4547-11ed-b878-0242ac120002" style="text-decoration:none;display:inline-block;color:#fff;background-color:#023991;border-radius:1px;width:auto;border-top:0 solid transparent;font-weight:400;border-right:0 solid transparent;border-bottom:0 solid transparent;border-left:0 solid transparent;padding:10px;font-family:TT Norms;text-align:center;word-break:keep-all"><span style="padding-left:35px;padding-right:35px;font-size:16px;display:inline-block;letter-spacing:normal;margin:0;word-break:break-word;line-height:32px">ANMELDEN</span></a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
