<div data-bsi-element="date-header"
    style="height: 100%; display: flex;"
    class="hello">
    <table border="0"
        cellpadding="0"
        cellspacing="0"
        width="100%">
        <tbody>
            <tr>
                <td>
                    <table align="center"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        width="100%"
                        style="border:0;">
                        <tbody>
                            <tr>
                                <td>
                                    <table align="center"
                                        role="presentation"
                                        border="0"
                                        cellpadding="0"
                                        cellspacing="0"
                                        width="580"
                                        style="width:580px">
                                        <tbody>
                                            <tr>
                                                <td style=""
                                                    width="120"
                                                    height="174"
                                                    align="center">
                                                    <div style="padding-top:24px !important;padding-left: 24px !important;padding-bottom:80px !important;padding-right: 24px !important;background-color:#023991;background-image:linear-gradient(90deg, #023991 10.94%, #00FF55 88.02%);margin-top: 0px!important;margin-bottom: 0px !important;">
                                                        <div id="9117192e-4649-11ed-b878-0242ac120002"
                                                            data-bsi-element-part="plain-text"
                                                            style="text-align:center;font-family: 'TT Norms';font-style: normal;font-weight: 700;font-size: 52px;line-height: 100%;">23</div>

                                                        <div id="91171802-4649-11ed-b878-0242ac120002"
                                                            data-bsi-element-part="plain-text"
                                                            style="font-weight: bold;font-size: 18px; text-align:center;font-family: 'TT Norms';font-style: normal;font-weight: 700;font-size: 18px;line-height: 100%;">Dec´22</div>
                                                    </div>
                                                </td>

                                                <td width="460"
                                                    height="174"
                                                    valign="middle"
                                                    style="padding:0 24px 0 24px;">
                                                    <div align="left"
                                                        style="flex: 1 1 0px;display:flex;align-items: center;font-weight: 700; font-size: 18px; line-height: 24px;vertical-align:middle;height:174px">
                                                        <a href="#"
                                                            style="text-decoration:none">
                                                            <p id="3a32bee2-457c-11ed-b878-0242ac120002"
                                                                data-bsi-element-part="formatted-text"
                                                                style="font-family: 'TT Norms';font-style: normal;font-weight: 700;font-size: 48px;line-height: 120%;color: #000000;margin:0">Main
                                                                Event
                                                                ipsum
                                                                dolor
                                                                sit
                                                                ahmet</p>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
