<div data-bsi-element="date-header"
    style="height: 100%; display: flex;margin-bottom:24px"
    class="hello">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <td>
                    <table align="center"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        width="580"
                        style="border:0;width:580px;">
                        <tbody>
                            <tr>
                                <td width="580"
                                    style="padding-left:24px; padding-right:24px">
                                    <table align="center"
                                        role="presentation"
                                        border="0"
                                        cellpadding="0"
                                        cellspacing="0"
                                        width="100%">
                                        <tbody>
                                            <tr>
                                                <td style="width:120px;vertical-align:top;background-color: #023991;background-image:linear-gradient(90deg, #023991 10.94%, #00FF55 88.02%);"
                                                    width="120"
                                                    align="center"
                                                    valign="top">
                                                    <div style="color:transparent">
                                                        &nbsp;
                                                    </div>
                                                    <div style="vertical-align:top;padding:0 24px 80px 24px;margin-top: 0px!important;margin-bottom: 0px !important;">
                                                        <div id="9117192e-4649-11ed-b878-0242ac120002"
                                                            data-bsi-element-part="plain-text"
                                                            style="text-align:center;font-family: Arial,sans-serif;font-style: normal;font-weight: 700;font-size: 52px;line-height: 100%;color:#ffffff;">
                                                            23
                                                        </div>

                                                        <div id="91171802-4649-11ed-b878-0242ac120002"
                                                            data-bsi-element-part="plain-text"
                                                            style="text-align:center;font-family: Arial,sans-serif;
                              font-style: normal;font-weight: 700;font-size: 18px;line-height: 100%;
                              color:#ffffff;">
                                                            Dec´22
                                                        </div>
                                                    </div>
                                                </td>

                                                <td width="460"
                                                    height="174"
                                                    valign="top"
                                                    style="padding:0 24px 0 24px;vertical-align:top;">
                                                    <div align="left"
                                                        valign="top"
                                                        style="display:flex;align-items: center;font-weight: 700; font-size: 18px; line-height: 1;vertical-align:top;height:174px">
                                                        <a href="#"
                                                            style="text-decoration:none;line-height:1">
                                                            <p id="3a32bee2-457c-11ed-b878-0242ac120002"
                                                                data-bsi-element-part="formatted-text"
                                                                style="font-family: Arial,sans-serif;font-style: normal;font-weight: 700;font-size: 48px;line-height: 120%;color: #000000;margin:0">
                                                                Main Event ipsum
                                                                dolor sit ahmet
                                                            </p>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
