<div data-bsi-element="textarea" style="padding-bottom: 15px;">
    <div data-bsi-element-part="form-textarea" class="reverse-for-required text-field">
        <textarea placeholder="Comment" id="sample-area" name="sample-area" rows="6" cols="4" spellcheck="true"></textarea>
        <label class="text-field-label" for="sample-area">Comment</label>
    </div>
</div>
