<div data-bsi-element="teaser-full-width">
  <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
    <tbody>
      <tr>
        <td>
          <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="color:#000;width:600px;box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);" width="600">
            <tbody>
              <tr>
                <td style="font-weight:400;text-align:left;vertical-align:top;border-top:0;border-right:0;border-bottom:0;border-left:0" width="100%">
                  <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                    <tbody>
                      <tr>
                        <td style="width:100%;padding-right:0;padding-left:0;padding-top:0px">
                          <div align="center" style="line-height:10px">
                            <img id="fa2bf404-3f0d-11ed-b878-0242ac120002" alt="I'm an image" src="{{ url ? : bsi_cx_asset('../../../../images/teaser-img.png') }}" style="display:block;height:auto;border:0;width:100%;max-width:100%" title="I'm an image" width="570" data-bit="iit" tabindex="0" /><div class="a6S" dir="ltr" style="opacity: 1; left: 687.667px; top: 3671.61px;">
                              <div role="button" tabindex="0" aria-label="Скачать файл " data-tooltip-class="a1V" data-tooltip="Скачать">
                                <div>
                                  <div></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="word-break:break-word" width="100%">
                    <tbody>
                      <tr>
                        <td style="padding-bottom:20px;padding-left:15px;padding-right:15px;padding-top:20px">
                          <div>
                            <div style="color:#000;">
                              <p data-bsi-element-part="plain-text" id="ecbe1628-44a6-11ed-b878-0242ac120002" style="font-family:'TT Norms';font-style: normal;font-weight: 700;
font-size: 28px;
line-height: 120%;margin:0;text-align:center">Follow us on</p>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table border="0" cellpadding="15" cellspacing="0" role="presentation" width="100%">
                    <tbody>
                      <tr>
                        <td>
                          <div align="center" style="line-height:10px">
                            <a id="fa2bf512-3f0d-11ed-b878-0242ac120002" data-bsi-element-part="image" id="fa2bf512-3f0d-11ed-b878-0242ac120002" href="https://www.linkedin.com/company/gateb" target="_blank"><img src="{{ url ? : bsi_cx_asset('../../../../images/linkedin-img.png') }}" style="display:block;height:auto;border:0;width:171px;max-width:100%" width="171" data-bit="iit" /></a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
