<div data-bsi-element="teaser-full-width" style="background-color: white;">
    <table border="0"
        cellpadding="0"
        cellspacing="0"
        role="presentation"
        width="100%">
        <tbody>
            <tr>
                <td>
                    <table align="center"
                        role="presentation"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        width="580"
                        style="border:0;width:580px;font-family: Arial, sans-serif;">
                        <tbody>
                            <tr>
                                <td width="580"
                                    style="padding-left:24px; padding-right:24px">
                                    <table align="center"
                                        border="0"
                                        cellpadding="0"
                                        cellspacing="0"
                                        style="border: 2px solid #EBEBEB;border-style:solid;border-color: #EBEBEB;border-width:2px;mso-border-alt:2px solid #EBEBEB">
                                        <tbody>
                                            <tr>
                                                <td border="0"
                                                    cellpadding="0"
                                                    cellspacing="0"
                                                    width="100%"
                                                    style="width:100%;">
                                                    <div align="center"
                                                        style="width:532px;">
                                                        <img id="fa2bf404-3f0d-11ed-b878-0242ac120002"
                                                            style="max-width: 100%; display:block;width:532px"
                                                            data-bsi-element-part="image"
                                                            width="532"
                                                            alt=""
                                                            src="{{
                                                            url
                                                                ?
                                                                : bsi_cx_asset(
                                                                    '../../../../images/teaser-img.png'
                                                                )
                                                            }}" />
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr height="26">
                                                <td height="26"
                                                    style="font-size:26px; line-height:26px;"></td>
                                            </tr>
                                            <tr>
                                                <td align="center" width="532">
                                                    <div style="color:#000;">
                                                        <p data-bsi-element-part="plain-text"
                                                            id="ecbe1628-44a6-11ed-b878-0242ac120002"
                                                            style="font-family:Arial,sans-serif;font-style: normal;font-weight: 700;font-size: 28px;line-height: 120%;margin:0;text-align:center">
                                                            Follow us on
                                                        </p>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr height="22">
                                                <td height="22"
                                                    style="font-size:22px; line-height:22px;"></td>
                                            </tr>
                                            <tr>
                                                <td width="532">
                                                    <div align="center"
                                                        style="line-height:10px;padding-bottom:24px">
                                                        <a id="fa2bf512-3f0d-11ed-b878-0242ac120002"
                                                            data-bsi-element-part="image"
                                                            id="fa2bf512-3f0d-11ed-b878-0242ac120002"
                                                            href="https://www.linkedin.com/company/gateb"
                                                            target="_blank">
                                                            <img src="{{
                                                                url
                                                                    ?
                                                                    : bsi_cx_asset(
                                                                        '../../../../images/linkedin-img.png'
                                                                    )
                                                                }}"
                                                                style="display:block;height:auto;border:0;width:171px;max-width:100%"
                                                                width="171" />
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr height="26">
                                                <td height="26"
                                                    style="font-size:26px; line-height:26px;"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
