<div data-bsi-element="brand-leadership">
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
      <tr>
        <td>
          <table align="center" border="0" cellpadding="0" cellspacing="0" width="600px" style="border:0;">
            <tbody>
              <tr>
                <td width="600px" style="padding-bottom: 10px;">
                  <div style="display: flex;flex-direction:row;justify-content:flex-end;align-items:center;padding:15px">
                    <div style="margin-right: 30px;">
                      <div style="font-family:TT Norms;font-style: normal;font-weight: 400;font-size: 16px;line-height: 135%;" id="2138483e-4681-11ed-b878-0242ac120002" data-bsi-element-part="plain-text">Member of the</div>
                    </div>
                    <div align="center" style="line-height:10px;">
                      <img id="21384988-4681-11ed-b878-0242ac120002" data-bsi-element-part="image" src="{{ url ? : bsi_cx_asset('../../../../images/brand-logo.png') }}" style="display:block;height:auto;border:0;width:112px;max-width:100%" width="112" />
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
