<div data-bsi-element="name-full" class="two-column-layout">
    <div data-bsi-dropzone="name-first-container-one"
        style="padding: 0 15px 0 0;">
        {% block custom_section_content_one_name1 %}
            {% include '../name-first/template.twig' %}
        {% endblock %}
    </div>
    <div data-bsi-dropzone="name-last-container-two"
        style="padding: 0 0 0 15px;">
        {% block custom_section_content_two_name2 %}
            {% include '../name-last/template.twig' %}
        {% endblock %}
    </div>
</div>
