{# It should be possible to use layout components as BSI Elements, re-usable section containers or simple dropzones #}
{# If the element is used as a layout element. In this case the markup must be constant #}

<div data-bsi-element="one-column"
    data-bsi-hide-edit-button="true"
    class="single-column-layout">
    <div data-bsi-dropzone="single-column-layout-container"
        data-bsi-dropzone-allowed-elements="one-one one-one-reverse two-one two-one-reverse one-two one-two-reverse image-normal image-cropped divider spacer text-formatted text-plain button"></div>
</div>
