<div data-bsi-element="code" style="padding-bottom: 15px;">
    <div data-bsi-element-part="form-field"
        class="reverse-for-required text-field"
        data-bsi-form-field-fixed-type=""
        id="code-wrapper">
        <input id="code"
            name="code"
            class="custom-form-field"
            type="text"
            placeholder="Code *"
            spellcheck="true"
            required="" />
        <div class="error-message isVisible">
            {{ properties.translation.code_error }}
        </div>
        <label class="text-field-label" for="street">Code</label>
    </div>
</div>
