<div data-bsi-element="code" style="padding-bottom: 15px;">
    <div data-bsi-element-part="form-field"
        class="reverse-for-required text-field"
        data-bsi-form-field-fixed-type=""
        id="code-wrapper">
        <input id="code"
            name="code"
            class="custom-form-field"
            type="number"
            maxlength="9"
            placeholder="{{ properties.translation.labels.code }}"
            spellcheck="true"
            required="" />
        <label class="text-field-label" for="street">
            {{ properties.translation.labels.code }}
        </label>
        <div class="error-message isVisible">
            {{ properties.translation.code_error }}
        </div>
    </div>
</div>
