<div data-bsi-element="socials" class="socials-container">
    <a href="[instagram]"
        data-bsi-element-part="link"
        data-bsi-link-fixed-inner-html=""
        class="social-icon-container">
        {% include '../../../../../resources/img/socials/instagram.svg' %}
    </a>
    <a href="[linkedin]"
        data-bsi-element-part="link"
        data-bsi-link-fixed-inner-html=""
        class="social-icon-container">
        {% include '../../../../../resources/img/socials/linkedin.svg' %}
    </a>
    <a href="[twitter]"
        data-bsi-element-part="link"
        data-bsi-link-fixed-inner-html=""
        class="social-icon-container">
        {% include '../../../../../resources/img/socials/twitter.svg' %}
    </a>
    <a href="[facebook]"
        data-bsi-element-part="link"
        data-bsi-link-fixed-inner-html=""
        class="social-icon-container">
        {% include '../../../../../resources/img/socials/facebook.svg' %}
    </a>
    <a href="[youtube]"
        data-bsi-element-part="link"
        data-bsi-link-fixed-inner-html=""
        class="social-icon-container">
        {% include '../../../../../resources/img/socials/youtube.svg' %}
    </a>
</div>
