<div data-bsi-element="gradient-block-header">
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
      <tr>
        <td>
          <table align="center" border="0" cellpadding="0" cellspacing="0" width="0px" style="border:0;" width="600">
            <tbody>
              <tr>
                <td width="600px" style="padding-bottom: 10px;">
                  <div align="left">
                    <img id="60884cfe-4551-11ed-b878-0242ac120002" data-bsi-element-part="image" src="{{ url ? : bsi_cx_asset('../../../../images/gradient-text.png') }}" alt="gradient text" />
                  </div>
                  <div class="spacer" data-bsi-hide-edit-button="true">
                    <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" height="30">
                      <tbody>
                        <tr height="30">
                          <td height="30" width="100%" style="font-size:30px; line-height:30px;">&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div align="left">
                    <img id="60884e52-4551-11ed-b878-0242ac120002" data-bsi-element-part="image" src="{{ url ? : bsi_cx_asset('../../../../images/line.png') }}" alt="gradient line" />
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
