<div data-bsi-element="street-house" style="padding-bottom: 15px;">
    <div data-bsi-element-part="form-field"
        class="reverse-for-required text-field"
        data-bsi-form-field-fixed-type=""
        id="street-wrapper">
        <input id="street"
            name="street"
            class="custom-form-field"
            type="text"
            placeholder="Strasse, HausNummer *"
            spellcheck="true"
            required="" />
        <label class="text-field-label" for="street">Strasse, HausNummer</label>
    </div>
</div>
