<div data-bsi-element="input-field" style="padding-bottom: 15px;">
    <div data-bsi-element-part="form-field"
        class="reverse-for-required"
        data-bsi-form-field-fixed-type="">
        <input id="sample-field"
            name="sample-field"
            type="text"
            class="custom-form-field"
            spellcheck="true" />
        <label for="sample-field">Input</label>
    </div>
</div>
