<div data-bsi-element="market" class={market.box}>
      <div class={market.definition}>
        <img data-bsi-element-part="image" src={props.icon} />
        <div class={market.content}>
          <TextSmall>
            <p>{props.text}</p>
          </TextSmall>
        </div>
        <div class={market.title}>
          <p>{props.subheading}</p>
        </div>
      </div>
    </div>