<div data-bsi-element="image-normal"
    class="image-container content-image-height-full content-image-width-full content-positioning-horizontal-centered content-positioning-vertical-centered content-positioning-max-width">
    <img src="img/visual_sample.jpg" alt="" data-bsi-element-part="image"/>
</div>
