<div data-bsi-element="layout-columns" class="element layout-columns">
    <div data-bsi-dropzone="6a5c0a6f-53a4-4e47-8d1c-e20fe57ef16e"
        class="column">
        {% block left %}

        {% endblock %}
    </div>
    <div data-bsi-dropzone="e97cd8de-1301-4c1e-82bf-a451d83e9bfb"
        class="column">
        {% block right %}

        {% endblock %}
    </div>
</div>
