<div data-bsi-element="title-with-line">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <td>
                    <table align="center"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        width="580px"
                        style="border:0;"
                        width="580">
                        <tbody>
                            <tr>
                                <td style="padding-left:24px;padding-right:24px">
                                    <div align="left">
                                        <img width="532px"
                                            id="7649e65c-5432-11ed-bdc3-0242ac120002"
                                            data-bsi-element-part="image"
                                            src="{{
                                            url
                                                ?
                                                : bsi_cx_asset(
                                                    '../../../../images/subtitle-line.png'
                                                )
                                            }}"
                                            alt="gradient line" />
                                    </div>
                                    <div align="left">
                                        <p id="7649e454-5432-11ed-bdc3-0242ac120002"
                                            data-bsi-element-part="plain-text"
                                            style="font-family:Arial,sans-serif;font-size: 21px;
  line-height: 120%;text-transform: uppercase;margin-top:32px; margin-bottom:0px;">
                                            heisghuiehgiuegh
                                        </p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
