<div data-bsi-element="footer">
    <table align="center"
        border="0"
        cellpadding="0"
        cellspacing="0"
        role="presentation"
        width="100%">
        <tbody>
            <tr>
                <td>
                    <table align="center"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        width="580"
                        style="border:0;background-color:#000;width:580px">
                        <tbody>
                            <tr>
                                <td>
                                    <table align="center"
                                        border="0"
                                        cellpadding="0"
                                        cellspacing="0"
                                        role="presentation"
                                        style="background-color:#000;width:580px"
                                        width="580">
                                        <tbody>
                                            <tr>
                                                <td width="580"
                                                    style="font-family: Arial,sans-serif;font-weight:400;text-align:left;vertical-align:top;padding-top:5px;padding-bottom:5px;border-top:0;border-right:0;border-bottom:0;border-left:0"
                                                    width="100%">
                                                    <table border="0"
                                                        cellpadding="0"
                                                        cellspacing="0"
                                                        role="presentation"
                                                        width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td style="text-align:center;padding-right:0;padding-left:0;padding-top:40px">
                                                                    <div style="text-align:center">
                                                                        <table border="0"
                                                                            cellpadding="0"
                                                                            cellspacing="0"
                                                                            role="presentation"
                                                                            style="display:inline-block"
                                                                            width="94px">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td style="padding:0 15px 0 0">
                                                                                        <a id="c68df184-44b6-11ed-b878-0242ac120002"
                                                                                            data-bsi-element-part="image"
                                                                                            href="https://linkedin.com"
                                                                                            target="_blank">
                                                                                            <img alt="LinkedIn"
                                                                                                height="32"
                                                                                                src="{{
                                                                                                url
                                                                                                    ?
                                                                                                    : bsi_cx_asset(
                                                                                                        '../../../../icons/social-white-linkedin.png'
                                                                                                    )
                                                                                                }}"
                                                                                                style="display:block;height:auto;border:0"
                                                                                                title="LinkedIn"
                                                                                                width="32" />
                                                                                        </a>
                                                                                    </td>
                                                                                    <td style="padding:0 15px 0 0">
                                                                                        <a id="c68dfa80-44b6-11ed-b878-0242ac120002"
                                                                                            data-bsi-element-part="image"
                                                                                            href="https://twitter.com/"
                                                                                            target="_blank">
                                                                                            <img alt="Twitter"
                                                                                                height="32"
                                                                                                src="{{
                                                                                                url
                                                                                                    ?
                                                                                                    : bsi_cx_asset(
                                                                                                        '../../../../icons/social-white-twitter.png'
                                                                                                    )
                                                                                                }}"
                                                                                                style="display:block;height:auto;border:0"
                                                                                                title="Twitter"
                                                                                                width="32" />
                                                                                        </a>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table border="0"
                                                        cellpadding="0"
                                                        cellspacing="0"
                                                        role="presentation"
                                                        width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding-left:24px;width:100%;padding-right:0;padding-top:48px;padding-bottom:48px;">
                                                                    <div align="left"
                                                                        style="line-height:10px">
                                                                        <a href="#"
                                                                            data-bsi-element-part="image"
                                                                            id="d243dcf8-44b3-11ed-b878-0242ac120002">
                                                                            <img src="{{
                                                                                url
                                                                                    ?
                                                                                    : bsi_cx_asset(
                                                                                        '../../../../images/logo-white.png'
                                                                                    )
                                                                                }}"
                                                                                style="display:block;height:auto;border:0;width:120px;max-width:100%"
                                                                                width="120" />
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table border="0"
                                                        cellpadding="0"
                                                        cellspacing="0"
                                                        role="presentation"
                                                        width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding-left:24px;width:100%;padding-right:0;">
                                                                    <div align="left"
                                                                        style="line-height:10px">
                                                                        <p style="font-family:Arial,sans-serif;font-style: normal;font-weight: 700;font-size: 16px;line-height: 135%;color:#ffffff;margin:0;">
                                                                            gateB
                                                                        </p>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table align="center"
                                        border="0"
                                        cellpadding="0"
                                        cellspacing="0"
                                        role="presentation"
                                        width="100%"
                                        style="background-color: #000000;">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table align="center"
                                                        border="0"
                                                        cellpadding="0"
                                                        cellspacing="0"
                                                        role="presentation"
                                                        style="background-color:#000;border-radius:0;color:#000;width:580px"
                                                        width="580px">
                                                        <tbody>
                                                            <tr>
                                                                <td style="font-weight:400;text-align:left;vertical-align:top;border-top:0;border-right:0;border-bottom:0;border-left:0">
                                                                    <table border="0"
                                                                        cellpadding="0"
                                                                        cellspacing="0"
                                                                        role="presentation"
                                                                        style="word-break:break-word"
                                                                        width="70%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="left"
                                                                                    width="180"
                                                                                    style="width:180px;padding-bottom:20px;padding-left:24px;padding-right:10px;padding-top:5px">
                                                                                    <div style="color:#fff;direction:ltr;font-family:Arial,sans-serif;font-size:16px;font-weight:400;letter-spacing:0;line-height:150%;text-align:left">
                                                                                        <p class="address"
                                                                                            id="5a87c380-44b5-11ed-b878-0242ac120002"
                                                                                            data-bsi-element-part="plain-text"
                                                                                            style="margin:0;color:#ffffff;direction:ltr;font-family:Arial,sans-serif;font-size:16px;font-weight:400;letter-spacing:0;line-height:135%;text-align:left">
                                                                                            Sennweidstrasse
                                                                                            35
                                                                                        </p>
                                                                                        <p class="address"
                                                                                            id="5a87c1f0-44b5-11ed-b878-0242ac120002"
                                                                                            data-bsi-element-part="plain-text"
                                                                                            style="margin:0;color:#ffffff;direction:ltr;font-family:Arial,sans-serif;font-size:16px;font-weight:400;letter-spacing:0;line-height:135%;text-align:left">
                                                                                            6312
                                                                                            Steinhausen
                                                                                        </p>
                                                                                        <p class="address"
                                                                                            id="5a87c038-44b5-11ed-b878-0242ac120002"
                                                                                            data-bsi-element-part="plain-text"
                                                                                            style="margin:0;font-family: Arial,sans-serif;font-style: normal;font-weight: 400;font-size: 16px;line-height: 135%;">
                                                                                            Switzerland
                                                                                        </p>
                                                                                    </div>
                                                                                </td>

                                                                                <td valign="middle"
                                                                                    align="left"
                                                                                    width="180"
                                                                                    style="padding-top:10px;padding-bottom:20px;width:180px">
                                                                                    <div style="color:#fff;direction:ltr;font-family:Arial,sans-serif;font-size:16px;font-weight:400;letter-spacing:0;line-height:135%;text-align:left;">
                                                                                        <p style="margin:0;margin-bottom:20px">
                                                                                            <a data-bsi-element-part="link"
                                                                                                id="48e8c0c2-3f09-11ed-b878-0242ac120002"
                                                                                                href="tel:+41417486400"
                                                                                                style="font-family: Arial,sans-serif;text-decoration:none;color:#ffffff;">
                                                                                                +41
                                                                                                41
                                                                                                748
                                                                                                64
                                                                                                00
                                                                                            </a>
                                                                                        </p>
                                                                                        <p style="margin:0">
                                                                                            <a data-bsi-element-part="link"
                                                                                                id="48e8bf82-3f09-11ed-b878-0242ac120002"
                                                                                                href="mailto:info@gateb.com"
                                                                                                style="font-family: Arial,sans-serif;text-decoration:none;color:#ffffff">
                                                                                                info@gateb.com
                                                                                            </a>
                                                                                        </p>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <tr>
                                                        <td style="background-color:#424243;line-height:2px;font-weight:400;text-align:left;vertical-align:top;padding-top:25px;padding-bottom:20px;border-top:0;border-right:0;border-bottom:0;border-left:0"
                                                            width="100%">
                                                            <div style="color:#101112;direction:ltr;font-family:Arial,sans-serif;font-size:14px;font-weight:400;letter-spacing:0;line-height:120%;text-align:center">
                                                                <p style="margin:0">
                                                                    <a id="d243e6da-44b3-11ed-b878-0242ac120002"
                                                                        href="#"
                                                                        rel="noopener"
                                                                        style="font-family: Arial,sans-serif;text-decoration:none;color:#ffffff">
                                                                        Unsubscribe
                                                                        &#183;
                                                                    </a>
                                                                    <a id="d243e068-44b3-11ed-b878-0242ac120002"
                                                                        href="#"
                                                                        rel="noopener"
                                                                        style="font-family: Arial, sans-serif;text-decoration:none;color:#ffffff">
                                                                        Data
                                                                        Protection
                                                                        &#183;
                                                                    </a>
                                                                    <a id="d243e3ce-44b3-11ed-b878-0242ac120002"
                                                                        href="#"
                                                                        rel="noopener"
                                                                        style="font-family: Arial, sans-serif;text-decoration:none;color:#ffffff">
                                                                        Terms of
                                                                        use
                                                                        &#183;
                                                                    </a>
                                                                    <a id="d243e590-44b3-11ed-b878-0242ac120002"
                                                                        href="#"
                                                                        rel="noopener"
                                                                        style="font-family: Arial, sans-serif;text-decoration:none;color:#ffffff">
                                                                        Imprint
                                                                    </a>
                                                                </p>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
