<div data-bsi-element="medium-story">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <td width="100%">
                    <table align="center"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        width="100%"
                        style="border:0;">
                        <tbody>
                            <tr>
                                <td width="100%">
                                    <table align="center"
                                        role="presentation"
                                        border="0"
                                        cellpadding="0"
                                        cellspacing="0"
                                        width="580"
                                        style="width:580px">
                                        <tbody>
                                            <tr>
                                                <td width="160"
                                                    style="width:160px;padding-left:24px;">
                                                    <div style="border-width: 0px !important;margin-top: 0px!important;margin-bottom: 0px !important;">
                                                        <img width="160"
                                                            style="width: 160px;"
                                                            src="{{
                                                            url
                                                                ?
                                                                : bsi_cx_asset(
                                                                    '../../../../images/medium-img.png'
                                                                )
                                                            }}"
                                                            alt="" />
                                                    </div>
                                                </td>
                                                <td style="padding-left: 32px;width: 340px;padding-right:24px;vertical-align:top;"
                                                    width="340">
                                                    <div style="border-width: 0px !important;margin-top: 0px!important;margin-bottom: 0px !important;">
                                                        <div align="left">
                                                            <h3 style="font-family: Arial,sans-serif;margin: 0;font-weight: 700;font-size: 24px;line-height: 120%;"
                                                                data-bsi-element-part="plain-text">
                                                                Medium Story ut
                                                                perspiciatis
                                                                unde omnis iste
                                                                natus error sit
                                                                voluptatem
                                                                accusantium
                                                                doloremque
                                                                laudantium
                                                            </h3>
                                                        </div>
                                                    </div>
                                                    <div align="left"
                                                        class="button">
                                                        {% include '../../elements/button-with-arrow/template.twig' with {
                                                            button_arrow_bg_color: transparant,
                                                            button_arrow_height: 45,
                                                            button_arrow_padding_top_bottom: 10,
                                                            button_arrow_padding_left_right: 0,
                                                            button_arrow_label_color: '#023991',
                                                            button_arrow_font_family: 'Arial, sans-serif',
                                                            button_arrow_font_size: 18,
                                                            button_arrow_label_text: 'read more',
                                                            button_arrow_border_style: null,
                                                            text_arrow_transform: lowercase,
                                                            button_arrow_href: '[LINK2]'
                                                        } %}
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
