{% extends '_layout.twig' %}

{% block header %}
    <div class="full-width-layout">
        <div data-bsi-dropzone="header-zone">
            {% include '../landingpage/content-elements/elements/spacer/template.twig' %}
            {% include '../landingpage/content-elements/sections/top-bar/template.twig' only %}
            {% include '../landingpage/content-elements/elements/spacer/template.twig' only %}
        </div>
    </div>
{% endblock %}
{% block body %}
    <div class="full-width-layout">
        <div data-bsi-dropzone="title-zone">
            {% include '../landingpage/content-elements/elements/title/template.twig' with {
                title: 'einverständniserklärung zur kontaktaufnahme'
            } %}
        </div>
    </div>
    <div class="single-column-layout">
        <div data-bsi-dropzone="body-zone">
            {% include '../landingpage/content-elements/elements/subtitle/template.twig' %}
            {% include '../landingpage/content-elements/sections/visual/template.twig' %}
            {% include '../landingpage/content-elements/elements/text-formatted/template.twig' with {
                text: 'Wir möchten Ihnen die Moglichkeit bieten, mehr über uns, 
                die Bank Julius Bär Deutschland AG, zu erfahren.'
            } %}
            {% include '../landingpage/content-elements/elements/text-formatted/template.twig' with {
                text: 'Um mit Ihnen in Kontakt treten zu dürfen, benötigen wir nach 
                derzeitigem Datenschutzrecht Ihne Einwilligung zur Speicherung und Verarbeitung 
                Ihnen persönlichen Daten sowie Ihre Zustimmung zur Kontaktaufnahme durch uns.'
            } %}
            {% include '../landingpage/content-elements/elements/text-formatted/template.twig' with {
                text: 'Bitte ergänzen Sie die nachstehenden Angaben sowie 
                Ihre bevorzugten Kontaktdetails, 
                uber die wir Sie kontaktieren dürfen.'
            } %}
            {% include '../landingpage/content-elements/elements/spacer/template.twig' %}
            {% include '../landingpage/content-elements/sections/form/template.twig' %}
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div class="full-width-layout footer-container">
        {% include '../landingpage/content-elements/sections/footer/template.twig' %}
    </div>
{% endblock %}
