.rating-set-container {
    display: flex;
    width: 100%;
    margin-top: 10px;
    height: 40px;
}

.rating-set-container > .custom-radiobutton-container {
    flex-grow: 1;
    position: relative;
}

.rating-set-container .custom-radiobutton-container label {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* highlight required radiobutton sets with required star */
.required-radiobutton-field::after {
    content: '*';
    color: #141e55;
    padding-left: 5px;
}
/* disable default radiobutton display */

input[type='radio'] {
    display: none;
}

/* correctly align content */

.custom-radiobutton-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
}

/* accomodate spacing for custom radiobutton in label */

.custom-radiobutton-container label {
    padding-left: 30px;
    /* In BSI, the label cannot wrap around the input element,
as it is traditionally done when using custom radiobutton for optimal
UX + styling. Hence, we have to position the radiobutton label
above the .custom-radiobutton-frame; otherwise the radiobutton would
not be directly clickable */
    /* to assure that checkbox is always clickable (place label above) */
    z-index: 2;
    margin-left: -15px;
}

.custom-radiobutton-container label:hover {
    cursor: pointer;
}

/* create custom radiobutton frame */

.custom-radiobutton-container .custom-radiobutton-frame-rating {
    background-color: white;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    /* assure that radiobutton is clickable (place below label) */
    z-index: 1;
    width: 100%;
    height: 100%;
}

.rating-set-container
    .custom-radiobutton-container:first-of-type
    .custom-radiobutton-frame-rating {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.rating-set-container
    .custom-radiobutton-container:last-of-type
    .custom-radiobutton-frame-rating {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.custom-radiobutton-container label:hover ~ .custom-radiobutton-frame-rating {
    background-color: #eee;
}

.custom-radiobutton-container input:checked ~ .custom-radiobutton-frame-rating {
    background-color: #141e55;
}

.rating-labels {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.rating-labels .label-left {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.rating-labels .label-right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
