<div data-bsi-element="rating"
    class="radiobutton-container-wrapper"
    style="padding-bottom: 15px;">
    <div id="rating-ensemble"
        data-bsi-element-part="form-radio"
        data-bsi-value-list="0|0
1|1"
        data-bsi-fixed-value-list="">
        <label>Rating Ensemble</label>
        <div data-bsi-radio-group=""
            class="radiobutton-set-container rating-set-container">
            <div data-bsi-radio-item="" class="custom-radiobutton-container">
                <input type="radio"
                    name="rating-set"
                    id="rating-set-1"
                    value="0"
                    spellcheck="true" />
                <label for="rating-set-1">0</label>
                <span class="custom-radiobutton-frame-rating"></span>
            </div>
            <div data-bsi-radio-item="" class="custom-radiobutton-container">
                <input type="radio"
                    name="rating-set"
                    id="rating-set-2"
                    value="1"
                    spellcheck="true" />
                <label for="rating-set-2">1</label>
                <span class="custom-radiobutton-frame-rating"></span>
            </div>
        </div>
    </div>
    <div class="rating-labels">
        <span data-bsi-element-part="plain-text" class="label-left">
            Very Bad
        </span>
        <span data-bsi-element-part="plain-text" class="label-right">
            Very Good
        </span>
    </div>
</div>
