<div data-bsi-element="content-block" className={styles.ContentBlock}>
      <p>
        Terms like cryptocurrencies, non-fungible tokens or decentralised finance are on everyone's
        lips these days. However, these inventions are just part of a technical revolution – the
        emergence of Web 3.0
      </p>
    </div>