<div data-bsi-element="small-event"
    style="height: 100%; display: flex;"
    class="hello">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <td>
                    <table align="center"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        width="100%"
                        style="border:0;">
                        <tbody>
                            <tr>
                                <td>
                                    <table align="center"
                                        role="presentation"
                                        border="0"
                                        cellpadding="0"
                                        cellspacing="0"
                                        width="580px"
                                        style="width:580px">
                                        <tbody>
                                            <tr>
                                                <td bgcolor="#ffffff"
                                                    valign="top"
                                                    align="left"
                                                    style="height:100%;">
                                                    <table align="left"
                                                        width="100%"
                                                        border="0"
                                                        cellpadding="0"
                                                        cellspacing="0"
                                                        valign="top"
                                                        style="width:100%';height:100%;">
                                                        <tbody>
                                                            <tr align="center">
                                                                <td width="120"
                                                                    valign="top"
                                                                    style="height:100%;padding-left:24px;vertical-align: top;">
                                                                    <div style="border-width: 0px !important;margin-top: 0px!important;margin-bottom: 0px !important;height:100%;">
                                                                        <div id="3a32c5f4-457c-11ed-b878-0242ac120002"
                                                                            data-bsi-element-part="plain-text"
                                                                            style="font-family: Arial,sans-serif;font-style: normal;font-weight: 700;font-size: 52px;line-height: 100%;">
                                                                            23
                                                                        </div>

                                                                        <div id="3a32c4b4-457c-11ed-b878-0242ac120002"
                                                                            data-bsi-element-part="plain-text"
                                                                            style="font-weight: bold;font-size: 18px; text-align:center;font-family: Arial,sans-serif;font-style: normal;font-weight: 700;font-size: 18px;line-height: 100%;">
                                                                            Dec´22
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td width="410"
                                                                    valign="top"
                                                                    style="padding-left:24px;padding-bottom:15px;border-left: 2px solid black;vertical-align:top;">
                                                                    <div align="left"
                                                                        valign="top"
                                                                        style="font-family:Arial,sans-serif;font-weight: 700; font-size: 18px; line-height: 24px;vertical-align:top;">
                                                                        <a href="#"
                                                                            style="text-decoration:none;vertical-align:top;color:#000000;">
                                                                            <p id="3a32c1ee-457c-11ed-b878-0242ac120002"
                                                                                data-bsi-element-part="formatted-text"
                                                                                style="font-family:Arial,sans-serif;vertical-align:top;margin:top:0 !important;font-style: normal; font-weight: 700; font-size: 18px; line-height: 120%;color: #000000;margin:0">
                                                                                Small
                                                                                Story
                                                                                ut
                                                                                perspiciatis
                                                                                unde
                                                                                omnis
                                                                                iste
                                                                                natus
                                                                                error
                                                                                sit
                                                                                voluptatem
                                                                                accusantium
                                                                                doloremque
                                                                                laudantium
                                                                            </p>
                                                                        </a>
                                                                        <td width="50"
                                                                            style="padding-right:24px ;padding-bottom:15px;">
                                                                            <img src="{{
                                                                                url
                                                                                    ?
                                                                                    : bsi_cx_asset(
                                                                                        '../../../../images/arrow.png'
                                                                                    )
                                                                                }}"
                                                                                alt="arrow"
                                                                                width="48"
                                                                                height="48"
                                                                                style="margin-left: 20px;width:48px;height:48px;" />
                                                                        </td>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
