.glossarysection_slidersection {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
}

.bsi-ce-edit-mode .glossarysection_slidersection {
    height: 1000px;
}

.glossarysection_chapter {
    padding: 40px;
    margin: auto 0;
    position: absolute;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: inherit;
    z-index: 5;
    box-sizing: border-box;
}

.bsi-ce-edit-mode .glossarysection_chapter {
    height: 1000px;
}

.glossarysection_chapterBox {
    height: 560px;
    display: flex;
    align-items: center;
    color: white;
}

.glossarysection_chapterBox div:first-child {
    align-items: center;
}

.glossarysection_chapterBox div:first-child p {
    transform: rotate(-90deg);
}

.glossarysection_overlay {
    color: white;
    z-index: 2;
    position: absolute;
    height: 100%;
    width: 55vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bsi-ce-edit-mode .glossarysection_overlay {
    z-index: 0;
}

.glossarysection_overlay > div {
    width: 400px;
}

.glossarysection_overlay .glossarysection_cta {
    margin-top: 24px;
}

.glossarysection_arrowPrev {
    height: 120px;
    width: 100px;
    transform: rotate(180deg);
    width: 26px;
}

.glossarysection_arrowNext {
    height: 120px;
    width: 100px;
    transform: rotate(0);
    width: 26px;
    margin-left: 32px;
}

.glossarysection_arrowNext:hover {
    animation-name: tonext;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.glossarysection_arrows {
    display: none;
}

.glossarysection_controlLeft {
    margin-right: 16px;
}

.glossarysection_controlRight {
    margin-left: 16px;
}

.glossarysection_controlLeft:hover,
.glossarysection_controlRight:hover {
    cursor: pointer;
}

.white-bg .glossarysection_controlLeft svg path,
.white-bg .glossarysection_controlRight svg path {
    stroke: var(--royalblue);
}

/* Controls */

.glossarysection_controls {
    display: flex;
    margin-top: 70px;
}

@media only screen and (max-width: 1023px) {
    .glossarysection_chapter {
        display: none;
    }

    .glossarysection_slidersection {
        height: unset;
    }

    .glossarysection_overlay {
        position: relative;
        max-width: 100vw;
        width: 100%;
        height: max-content;
        align-items: flex-start;
        padding: 0 16px;
        box-sizing: border-box;
        padding-top: 60px;
    }

    .glossarysection_overlay div {
        width: unset;
    }

    .glossarysection_arrows {
        display: none;
    }

    .glossarysection_controls {
        display: none;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
    .glossarysection_slidersection {
        height: auto;
    }
    .glossarysection_controls {
        display: none;
    }

    .glossarysection_chapter {
        display: none;
    }

    .glossarysection_overlay {
        position: relative;
        max-width: 100vw;
        height: max-content;
        align-items: flex-start;
        padding: 0;
        box-sizing: border-box;
        padding-top: 60px;
        margin-left: 90px;
    }
}

@media only screen and (min-width: 1930px) {
    .glossarysection_overlay {
        width: calc(1920px / 2);
    }
}
