<div class="module-form-components__two-cols-sm"
    data-bsi-element="city-zip"
    style="padding-bottom: 15px;">
    <div data-bsi-element-part="form-field"
        class="city2-wrapper first-row-city reverse-for-required text-field input text-field module-form-contact__text-field-item"
        data-bsi-form-field-fixed-type="">
        <input required="required"
            placeholder="City *"
            id="city2"
            type="text"
            name="city2"
            value="" />
        <label for="city2" class="text-field-label text-3 text-field__label">
            {{ properties.translation.labels.city_2 }}
        </label>
    </div>
    <div data-bsi-element-part="form-field"
        class="zip-wrapper second-row-zip reverse-for-required text-field input text-field module-form-contact__text-field-item"
        data-bsi-form-field-fixed-type="">
        <input spellcheck="true"
            required="required"
            placeholder="Zip code *"
            id="zip"
            type="text"
            name="zip"
            value="" />
        <label for="zip" class="text-field-label text-3 text-field__label">
            {{ properties.translation.labels.zip }}
        </label>
    </div>
</div>
