<table role="presentation"
    border="0"
    cellspacing="0"
    cellpadding="0"
    width="100%"
    data-bsi-hide-edit-button="true"
    data-bsi-element="divider">
    <tr>
        <td align="center"
            valign="top"
            bgcolor="#ffffff"
            width="532"
            style="background: #ffffff; padding: 0; font-family: Arial;width:532px;">
            <table role="presentation"
                border="0"
                cellspacing="0"
                cellpadding="0"
                width="532"
                height="100%"
                style="height: 2px; width: 532px;">
                <tr>
                    <td width="532" height="15"></td>
                </tr>
                <tr>
                    <td align="center"
                        valign="top"
                        bgcolor="#ffffff"
                        width="532"
                        style="width: 532px; background: #ffffff; padding: 0; font-family: Arial, sans-serif; border-bottom: 2px solid #EBEBEB;"></td>
                </tr>
                <tr>
                    <td width="532" height="15"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
