{# <div class="divider"
    data-bsi-hide-edit-button="true"
    data-bsi-element="divider">
    <table border="0"
        cellpadding="0"
        cellspacing="0"
        align="center"
        width="532px"
        height="30"
        style="line-height:2px;">
        <tbody>
            <tr>
                <td height="17"></td>
            </tr>
            <tr>
                <td class="divider-style"
                    height="1"
                    style="background-color: rgba(0, 0, 0, 0.08);"></td>
            </tr>
            <tr>
                <td height="17"></td>
            </tr>
        </tbody>
    </table>
</div> #}

<table role="presentation"
    border="0"
    cellspacing="0"
    cellpadding="0"
    width="100%"
    data-bsi-hide-edit-button="true"
    data-bsi-element="divider">
    <tr>
        <td align="center"
            valign="top"
            bgcolor="#ffffff"
            style="background: #ffffff; padding: 0; font-family: TT Norms;">
            <table role="presentation"
                border="0"
                cellspacing="0"
                cellpadding="0"
                width="532"
                height="1"
                style="height: 1px; width: 532px;">
                <tr>
                    <td style="width: 20px;"
                        width="20"></td>
                    <td align="center"
                        valign="top"
                        bgcolor="#ffffff"
                        width="532"
                        style="width: 532px; background: #ffffff; padding: 0; font-family: TT Norms; border-bottom: 1px solid rgba(0, 0, 0, 0.08);"></td>
                    <td style="width: 20px;"
                        width="20"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
