<div class="divider" data-bsi-hide-edit-button="true" data-bsi-element="divider">
  <table border="0" cellpadding="0" cellspacing="0" align="center" width="532px" height="30" style="line-height:2px;">
    <tbody>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td class="divider-style" height="1" style="background-color: rgba(0, 0, 0, 0.08);"></td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
    </tbody>
  </table>
</div>
