{% set value_list = '' %}
{% for key, value in properties.translation.countries %}
    {% set value_list = value_list ~ value ~ '|' ~ key ~ '\n' %}
{% endfor %}
<div data-bsi-element="country" style="padding-bottom: 15px;">
    <div data-bsi-element-part="form-select"
        id="country-select-wrapper"
        data-bsi-value-list="{{ value_list }}"
        class="reverse-for-required text-field form-dropdown"
        data-bsi-form-select-fixed-value-list="">
        <select id="country-select"
            name="country-select"
            class="custom-select custom-form-field"
            spellcheck="true"
            required="">
            {% for key, value in properties.translation.countries %}
                <option value="{{ key }}">
                    {{ value }}
                </option>
            {% endfor %}
        </select>
        <label for="country-select">Domizil</label>
    </div>
</div>
