<div data-bsi-element="visual" class="visual">
    <div data-bsi-dropzone="visual-block"
        data-bsi-dropzone-allowed-elements="text-formatted"
        data-bsi-dropzone-max-number-of-elements="3">
        {% include '../../elements/text-formatted/template.twig' with {
            text: 'München<br/>Examplestrasse 5<br/>80333 München<br/>+49 (0) 89 444455 300'
        } only %}
    </div>
</div>
