.section {
  max-width: 100vw;
  margin: 80px 0;
}
.container {
  position: relative;
  width: 786px;
  margin: auto;
  padding-left: 100px;
  box-sizing: border-box;
}

.imageBox div {
  position: absolute;
  top: 0;
  left: 0px;
  z-index: 1;
  width: 144px;
  height: 144px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

/* .grayCanvas:hover .imageBox div {
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
} */

.grayCanvas {
  background-color: rgba(227, 225, 232, 0.25);
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  padding-top: 30px;
  padding-bottom: 30px;
}

.grayCanvas:hover > div > div {
  color: var(--reflexblue);
}

.grayCanvas:hover > div > p {
  color: var(--royalblue);
}

.content {
  color: black;
  padding-left: 70px;
  width: calc(100% - 70px);
  display: flex;
  justify-content: space-between;
}

.content > div {
  font-weight: 400;
}

.textBox {
  width: 70%;
}

.iconBox {
  width: 15%;
  display: flex;
}

.link {
  font-weight: 300;
  font-size: 14px;
  line-height: 130%;
  color: black;
  text-decoration: none;
  opacity: 0.75;
  margin-top: 8px;
}

.iconLink {
  transform: translate(0px, 0);
  transition: transform 0.4s;
  display: flex;
  align-items: center;
}

.grayCanvas:hover .iconLink {
  transform: translate(10px, 0);
  transition: transform 0.3s;
}

.iconLink svg {
  stroke: var(--royalblue);
}

@media only screen and (max-width: 767px) {
  .section {
    margin: 140px auto 120px auto;
    /* min-width: 343px; */
  }

  .container {
    width: var(--contentWidthMobile);
    max-width: var(--contentWidthMobile);
    padding-left: 0;
    padding-top: 40px;
  }

  .grayCanvas {
    padding-left: 30px;
    padding-right: 30px;
    align-items: flex-end;
    justify-content: space-between;
    width: var(--contentWidthMobile);
    height: 172px;
    width: 100%;
    box-sizing: border-box;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .content {
    padding: 30px 0px;
    font-size: 18px;
  }

  .imageBox {
    order: 3;
  }

  .imageBox div {
    left: 30px;
    width: 100px;
    height: 100px;
  }

  .link {
    font-size: 12px;
    line-height: 146%;
  }

  .iconBox {
    justify-content: flex-end;
  }

  .content {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .section {
    margin: 102px auto 120px auto;
    /* min-width: 343px; */
  }

  .container {
    width: var(--textWidthTablet);
    max-width: var(--textWidthTablet);
    padding-left: 80px;
    padding-top: 10px;
  }

  .grayCanvas {
    align-items: flex-end;
    justify-content: space-between;
    height: max-content;
  }

  .content {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 18px;
  }

  .imageBox {
    order: 3;
  }

  .imageBox div {
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
  }

  .link {
    font-size: 12px;
    line-height: 146%;
  }

  .iconBox {
    justify-content: flex-end;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .container {
    width: var(--textWidthDesktop);
    padding-left: 70px;
    padding-top: 10px;
  }

  .imageBox > div {
    width: 100px;
    height: 100px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    padding-top: 24px;
  }
  .grayCanvas {
    padding-top: 40px;
    padding-bottom: 50px;
  }
}
