<div class={linkElement.section} data-bsi-element="linkelement">
      <div class={linkElement.container}>
        <a
          data-bsi-element-part="link"
          href="https://www.juliusbaer.com/en/insights/how-to-invest/why-asset-allocation-matters-four-steps-to-a-successful-investment-portfolio/"
          class={linkElement.grayCanvas}
        >
          <div class={linkElement.imageBox}>
            <div
              data-bsi-element-part="background-image"
              style={{ backgroundImage: 'url("img/asset_allocation_lead_image.jpg")' }}
            ></div>
          </div>
          <div class={linkElement.content}>
            <div class={linkElement.textBox}>
              <Text text="Why asset allocation matters" />
              <p data-bsi-element-part="plain-text" class={linkElement.link}>
                juliusbaer.com/insights
              </p>
            </div>
            <div class={linkElement.iconBox}>
              <div class={linkElement.iconLink}>
                <svg
                  class={linkElement.download}
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M21.0001 9.42857V3H14.5715"
                    stroke="1.5"
                    strokeLinecap="round"
                    strokeLinejoin="round"
                  />
                  <path
                    d="M21 3L8.14282 15.8571"
                    stroke="1.5"
                    strokeLinecap="round"
                    strokeLinejoin="round"
                  />
                  <path
                    d="M7.92857 8.14258H4.07143C3.48 8.14258 3 8.62258 3 9.21401V19.9283C3 20.5197 3.48 20.9997 4.07143 20.9997H14.7857C15.3771 20.9997 15.8571 20.5197 15.8571 19.9283V16.0711"
                    stroke="1.5"
                    strokeLinecap="round"
                    strokeLinejoin="round"
                  />
                </svg>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>