<section data-bsi-element="footer" class={footer.section}>
      <div class={footer.top}>
        <div class={footer.mainLinks}>
          <a href="[About_us]" data-bsi-element-part="link">
            About us
          </a>
          <a href="[Contact]" data-bsi-element-part="link">
            Contact
          </a>
          <a href="[Legal]" data-bsi-element-part="link">
            Legal
          </a>
        </div>
        <div class={footer.socials}>
          <a data-bsi-element-part="link" href="[facebook]" data-bsi-link-fixed-inner-html="">
            <img src="icons/facebook.svg" />
          </a>
          <a data-bsi-element-part="link" href="[twitter]" data-bsi-link-fixed-inner-html="">
            <img src="icons/twitter.svg" />
          </a>
          <a data-bsi-element-part="link" href="[youtube]" data-bsi-link-fixed-inner-html="">
            <img src="icons/youtube.svg" />
          </a>
          <a data-bsi-element-part="link" href="[linkedin]" data-bsi-link-fixed-inner-html="">
            <img src="icons/linkedin.svg" />
          </a>
          <a data-bsi-element-part="link" href="[instagram]" data-bsi-link-fixed-inner-html="">
            <img src="icons/instagram.svg" />
          </a>
        </div>
      </div>
      <div class={footer.middle}>
        <div class={footer.tabletRow}>
          <a href="[Data_Privacy]" data-bsi-element-part="link">
            Data Privacy Policy
          </a>
          <a href="[Terms_of_use]" data-bsi-element-part="link">
            Terms of use
          </a>
          <a href="[News_Alert]" data-bsi-element-part="link">
            News Alert
          </a>
        </div>
        <div class={footer.tabletText}>
          <p data-bsi-element-part="plain-text">© 2022 JULIUS BAER</p>
        </div>
      </div>
      <div class={footer.bottom}>
        <div class={footer.disclaimer}>
          <div class={footer.plainText}>
            I have read and agree to the <n />
            <a href="[Terms_of_use]" data-bsi-element-part="link" class={footer.bottomLink}>
              Terms of Use
            </a>
            <n /> and <n />
            <a href="[Data_Privacy]" data-bsi-element-part="link" class={footer.bottomLink}>
              Data Privacy Policy
            </a>
            .
          </div>
        </div>
        <div class={footer.backToTop}>
          <a data-bsi-element-part="link" href="#top">
            Back to top
          </a>
          <img src="icons/arrow-white.svg" />
        </div>
      </div>
    </section>