.contact_section {
    background-color: var(--grey);
    display: flex;
    box-sizing: border-box;
}

.contact_home .contact_section {
    scroll-snap-align: start;
}

.contact_section > div {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.contact_title {
    text-align: center;
    padding: 120px 0;
}

.contact_title h2 {
    color: var(--royalblue);
}

.contact_content {
    padding: 120px;
    padding-left: 0;
}

.contact_content .contact_text {
    color: var(--royalblue);
    font-size: 20px;
    line-height: 150%;
    width: 80%;
    font-weight: 500;
    margin-bottom: 32px;
}

.contact_btnWrapper {
    display: flex;
    flex-direction: row;
}

.contact_home .contact_hidden {
    display: block;
}

.contact_hidden {
    display: none;
    min-width: 250px;
}

.contact_hidden a {
    padding: 17px 30px;
}

@media only screen and (max-width: 767px) {
    .contact_section {
        max-width: 100vw;
        display: flex;
        flex-direction: column;
        padding: 80px 0;
    }

    .contact_btnWrapper {
        flex-direction: column;
        justify-content: flex-start;
    }

    .contact_content .contact_button_dark {
        margin-bottom: 12px;
    }

    .contact_section .contact_title,
    .contact_section .contact_content {
        width: var(--contentWidthMobile);
        margin: auto;
        padding: unset;
    }

    .contact_title {
        text-align: start;
    }

    .contact_title h2 {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .contact_content .contact_text {
        width: 100%;
    }

    .contact_hidden {
        display: block;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .contact_section {
        display: flex;
        box-sizing: border-box;
        padding: 60px 50px;
    }

    .contact_btnWrapper {
        flex-direction: column;
        justify-content: flex-start;
    }

    .contact_content .contact_button_dark {
        margin-bottom: 12px;
    }

    .contact_section .contact_title,
    .contact_section .contact_content {
        width: var(--contentWidthTablet);
        margin: 0 auto;
        padding: unset;
    }

    .contact_title {
        text-align: start;
    }

    .contact_content .contact_text {
        width: 100%;
        font-size: 18px;
    }

    .contact_hidden {
        display: block;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
    .contact_hidden {
        display: block;
    }
    .contact_content .contact_text {
        width: 100%;
    }

    .contact_title {
        padding-left: 90px;
        padding-top: 140px;
        text-align: start;
    }
}
