<div class={"two-buttons " + contact.section} data-bsi-element="contact" id="contact">
      <div class={contact.title}>
        <Subtitle subtitle="Contact" />
      </div>
      <div class={contact.content}>
        <div data-bsi-element-part="formatted-text">
          <p class={contact.text}>
            Discover new opportunities for your portfolio. Our experts would be happy to discuss all
            of the options available to you.
          </p>
        </div>
        <div class={contact.btnWrapper}>
          <Button dark text="Contact us" buttonLink="[contactUs]" />
          <div class={contact.hidden}>
            <Button text="Order Publication" downloadIcon buttonLink="[orderPublication]" />
          </div>
        </div>
      </div>
    </div>