.section {
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    min-height: 560px;
    max-height: 630px;
    padding: 30px 0;
    margin: 70px 0;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .section::-webkit-scrollbar {
    /* display: none; */
    height: 6px;
    background-color: inherit;
    margin: 20px;
    max-width: 300px;
    width: 300px;
    padding: 20px;
  }
  
  .section::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border-left: 220px solid white;
    border-right: 20px solid white;
  }
  
  .section::-webkit-scrollbar {
    /* display: none; */
    border-left: 220px solid white;
    border-right: 20px solid white;
  }
  
  .section::-webkit-scrollbar-thumb {
    background: black;
    border-left: 220px solid white;
    border-right: 20px solid white;
  }
  
  .chapter {
    padding: 40px;
    margin: auto 0;
    position: sticky;
    left: 0;
    background-color: white;
    height: 560px;
    display: flex;
    align-items: center;
    z-index: 2;
    max-height: 560px;
    box-sizing: border-box;
  }
  
  .chapterBox {
    height: 560px;
    display: flex;
    align-items: center;
  }
  
  .chapterBox div:first-child {
    align-items: center;
  }
  
  .chapterBox div:first-child p {
    transform: rotate(-90deg);
  }
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    min-width: 49vw;
    max-height: 560px;
    padding: 0 100px;
    box-sizing: border-box;
    position: relative;
  }
  
  .content > div {
    width: 70%;
  }
  
  .content h2 {
    margin: unset;
    margin-bottom: 24px;
  }
  
  .content #scrollindicator svg {
    fill: black;
    stroke: black;
  }
  
  .scrollindicator {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    transition: transform 250ms ease-out;
    transition-delay: 50ms;
  }
  
  .scrollindicator:hover {
    transform: translateX(10px);
  }
  
  .scrollindicator p {
    text-transform: uppercase;
    margin: 0;
    margin-right: 10px;
    font-size: 12px;
    letter-spacing: 0.13em;
  }
  
  .scrollindicator svg {
    fill: black;
    stroke: black;
  }
  
  .definitions {
    display: flex;
    height: 500px;
  }
  
  .definitions > div:nth-child(even) > div {
    justify-content: end;
  }
  
  .definitions > div > div {
    box-sizing: border-box;
  }
  
  @media only screen and (max-width: 1023px) {
    .section {
      flex-direction: column;
      overflow-x: unset;
      max-height: unset;
      margin: 20px 0;
    }
  
    .chapter {
      display: none;
    }
  
    .content {
      margin: auto;
      width: var(--contentWidthMobile);
      padding: 40px 0;
    }
  
    .content > div {
      width: 100%;
    }
  
    .scrollindicator {
      display: none;
    }
  
    .definitions {
      overflow-x: scroll;
      margin-left: 16px;
      min-height: 500px;
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  
    .definitions::-webkit-scrollbar {
      display: none;
    }
  
    .definitions > div {
      box-sizing: border-box;
    }
  
    .definitions > div > div {
      box-sizing: border-box;
    }
  }
  