<div class={definitions.section} id="definition-section" data-bsi-element="definitions">
      <div class={definitions.chapter}>
        <div class={definitions.chapterBox}>
          <Chapter />
        </div>
      </div>
      <div class={definitions.content}>
        <div>
          <Subtitle text="Key terms on digital assets" />
          <Button dark text="full article" />
        </div>
        <div class={definitions.scrollindicator} id="scrollindicator">
          <p data-bsi-element-part="plain-text">Scroll</p>
          <svg width="41" height="10" viewBox="0 0 41 10" xmlns="http://www.w3.org/2000/svg">
            <path d="M40 5H-7.15256e-07" />
            <path d="M35 1L40 5L35 9" />
          </svg>
        </div>
      </div>
      <div class={definitions.definitions} data-bsi-dropzone="definitions">
        <Definition />
        <Definition />
        <Definition />
        <Definition />
      </div>
    </div>