<div data-bsi-element="small-story">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <td>
                    <table align="center"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        width="580"
                        style="border:0;width:580px">
                        <tbody>
                            <tr>
                                <td width="530" style="padding-left:24px;">
                                    <div align="left"
                                        style="display:flex;align-items: center;font-family:Arial,sans-serif;font-weight: 700; font-size: 18px; line-height: 24px;">
                                        <a href="#"
                                            style="font-family:Arial,sans-serif;text-decoration:none;color:#000000">
                                            <p id="0c4d650e-4563-11ed-b878-0242ac120002"
                                                data-bsi-element-part="formatted-text"
                                                style="font-family:Arial,sans-serif; font-style: normal; font-weight: 700; font-size: 18px; line-height: 120%;color: #000000;">
                                                Small Story ut perspiciatis unde
                                                omnis iste natus error sit
                                                voluptatem accusantium
                                                doloremque laudantium
                                            </p>
                                        </a>
                                        <td width="50"
                                            style="padding-right: 24px;">
                                            <img src="{{
                                                url
                                                    ?
                                                    : bsi_cx_asset(
                                                        '../../../../images/arrow.png'
                                                    )
                                                }}"
                                                alt="arrow"
                                                width="48"
                                                height="48"
                                                style="margin-left: 20px;width:48px;height:48pxpadding-top:10px" />
                                        </td>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
