<div data-bsi-element="dropdown-text" class="dropdown-text">
    <p data-bsi-element-part="formatted-text">
        {% if text %}
            {{ text|raw }}
        {% else %}
            Sample Text
        {% endif %}
    </p>
</div>
