<section data-bsi-element="quote" class="quote">
  <div class="quoteText" data-bsi-element-part="formatted-text">
    <p>Asset allocation is what makes a portfolio worth more than the sum of its parts.</p>
  </div>
</section>