<div data-bsi-element="checkbox" style="padding-bottom: 15px;">
    <div data-bsi-element-part="form-checkbox"
        class="custom-checkbox-container"
        data-bsi-form-field-fixed-type=""
        id="checkbox-wrapper">
        <input id="{{ id }}"
            name="{{ id }}"
            type="checkbox"
            class="checkbox-input custom-checkbox-field"
            required=""
            spellchecker="true" />
        <label for="{{ id }}" class="formatted-text">{{ text }}</label>
        <span class="custom-checkbox-frame"></span>
    </div>
</div>
