.overviewpagehero_section {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  aspect-ratio: 2 / 1;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  scroll-snap-align: start;
}

.overviewpagehero_imageOverlay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.overviewpagehero_section h1 {
  color: white;
  margin: 2px 0;
  text-align: center;
}

.overviewpagehero_section p {
  color: white;
}

.overviewpagehero_header {
  max-width: 100vw;
  padding: 28px 0;
  display: flex;
  align-items: center;
}

.overviewpagehero_logo {
  margin: auto;
  width: 200px;
  display: flex;
  justify-content: center;
  margin-left: calc(50vw - 100px);
}

.overviewpagehero_heroContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.overviewpagehero_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 100px);
  justify-content: center;
}

.overviewpagehero_explore p {
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 0.13em;
  line-height: 12px;
  color: rgba(255, 255, 255, 0.6);
}

.overviewpagehero_content > div:nth-child(1) {
  margin-bottom: 20px;
}

.overviewpagehero_button a {
  background-color: white;
  margin-left: 0;
  border: 1px solid white;
  transition: background-color 0.5s, border 0.5s, color 0.5s;
  transition-timing-function: ease-out;
}

@media only screen and (min-width: 1930px) {
  .overviewpagehero_logo {
    margin-left: calc(50% - 100px);
  }
}

.overviewpagehero_button {
  margin-right: 40px;
}

.overviewpagehero_button a {
  padding: 17px 32px;
  min-width: 240px;
}

.overviewpagehero_button a p {
  color: var(--royalblue);
  width: max-content;
  transition: color 0.5s;
  transition-timing-function: ease-in;
}

.overviewpagehero_button:hover a p {
  color: white;
  width: max-content;
  transition: color 0.2s;
  transition-timing-function: ease-in;
}

.overviewpagehero_button:hover a {
  border: 1px solid white;
  background-color: transparent;
  transition: border 0.2s, background-color 0.2s;
}

.overviewpagehero_button:hover a svg path:first-child,
.overviewpagehero_button:hover a svg path:nth-child(2),
.overviewpagehero_button:hover a svg path:last-child {
  stroke: white;
  transition: stroke 0.2s;
  transition-timing-function: ease-in;
}

.overviewpagehero_menu {
  margin-right: 40px;
  display: none;
}

.overviewpagehero_exploreBox {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overviewpagehero_explore {
  border-bottom: solid 1px white;
  height: 30px;
  width: 100px;
  text-align: end;
}

.overviewpagehero_explore p {
  margin: 0;
  text-transform: uppercase;
}

/* Responsiveness */

@media only screen and (max-width: 1023px) {
  .overviewpagehero_section {
    flex-direction: column;
    background-position: center;
    min-height: unset;
    aspect-ratio: 1 / 1.6;
  }

  /* Changes for IWMS */

  .overviewpagehero_button a {
    background-color: transparent;
    min-width: unset;
    border: unset;
    margin-right: unset;
    display: none;
  }

  /* .overviewpagehero_button p {
    display: none;
  } */

  /* Button for PocketGuide */

  /* .overviewpagehero_button {
    display: none;
  } */

  .overviewpagehero_chapter div:first-child {
    transform: rotate(0deg);
    order: 1;
  }

  .overviewpagehero_heroContent {
    max-width: var(--contentWidthMobile);
    margin: auto;
    margin-bottom: 70px;
  }

  .overviewpagehero_content {
    padding-left: unset;
    width: 100%;
    margin-top: 50px;
    justify-content: flex-end;
  }

  .overviewpagehero_exploreBox {
    display: none;
  }

  .overviewpagehero_section h1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 1023px) and (orientation: landscape) {
  .overviewpagehero_section {
    aspect-ratio: 1.6 / 1;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1439px) {
  .overviewpagehero_button {
    display: none;
  }
}

/* Animations */

@keyframes backgroundImageReveal {
  from {
    opacity: 0;
    background-size: 140%;
  }
  to {
    opacity: 1;
    background-size: 100%;
  }
}

.overviewpagehero_section {
  opacity: 1;
  animation-name: backgroundImageReveal;
  animation-duration: 1.4s;
}

@keyframes backgroundImageRevealMobile {
  from {
    opacity: 0;
    background-size: auto 120%;
  }
  to {
    opacity: 1;
    background-size: auto 100%;
  }
}

@media only screen and (max-width: 1023px) {
  .overviewpagehero_section {
    opacity: 1;
    animation-name: backgroundImageRevealMobile;
    animation-duration: 1.4s;
  }
}

@keyframes backgroundImageOverlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.overviewpagehero_imageOverlay {
  background-color: rgba(0, 0, 0, 0.25);
  animation-name: backgroundImageOverlay;
  animation-duration: 1.4s;
}

@keyframes headerDrop {
  0% {
    opacity: 0;
    transform: translateY(-4vh);
  }
  20% {
    opacity: 0.8;
    transform: translateY(-4vh);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.overviewpagehero_logo {
  animation-name: headerDrop;
  animation-duration: 1.2s;
}

.overviewpagehero_button {
  animation-name: headerDrop;
  animation-duration: 1.1s;
  animation-delay: 0.1s;
}

@keyframes titleReveal {
  0% {
    opacity: 0;
    transform: translateY(+4vh);
  }
  20% {
    opacity: 0;
    transform: translateY(+4vh);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.overviewpagehero_heroContent .overviewpagehero_content {
  animation-name: titleReveal;
  animation-duration: 2s;
}

@keyframes exploreReveal {
  0% {
    opacity: 0;
    transform: translateY(+4vh) rotate(-90deg);
  }
  20% {
    opacity: 0;
    transform: translateY(+4vh) rotate(-90deg);
  }
  100% {
    opacity: 1;
    transform: translate(0) rotate(-90deg);
  }
}

.overviewpagehero_explore {
  animation-name: exploreReveal;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
