<div
        className={overviewPageHero.section}
        data-bsi-element="overviewpagehero"
        data-bsi-element-part="background-image"
        style={{ backgroundImage: 'url("img/image_home_hero_desktop.jpg")' }}
        id="top"
      >
        <div className={overviewPageHero.imageOverlay}>
          <div className={overviewPageHero.header}>
            <div className={overviewPageHero.logo}>
              <img src="img/juliusbaer-logo.svg" />
            </div>
            <div className={overviewPageHero.button}>
              <Button downloadIcon text="Order Publication" buttonLink="[orderPublication]" />
            </div>
            <div className={overviewPageHero.menu}>
              <svg src="icons/menu.svg" />
            </div>
          </div>
          <div className={overviewPageHero.heroContent}>
            <div className={overviewPageHero.content}>
              <Chapter chapter="WEALTH MATTERS" />
              <Title />
            </div>
            <div className={overviewPageHero.exploreBox}>
              <div className={overviewPageHero.explore}>
                <p data-bsi-element-part="plain-text">Explore</p>
              </div>
            </div>
          </div>
        </div>
      </div>