<div
        class={overviewPageHero.section}
        data-bsi-element="overviewpagehero"
        data-bsi-element-part="background-image"
        style={{ backgroundImage: 'url("img/image_home_hero_desktop.jpg")' }}
        id="top"
      >
        <div class={overviewPageHero.imageOverlay}>
          <div class={overviewPageHero.header}>
            <div class={overviewPageHero.logo}>
              <img src="img/juliusbaer-logo.svg" />
            </div>
            <div class={overviewPageHero.button}>
              <Button downloadIcon text="Order Publication" buttonLink="[orderPublication]" />
            </div>
            <div class={overviewPageHero.menu}>
              <svg src="icons/menu.svg" />
            </div>
          </div>
          <div class={overviewPageHero.heroContent}>
            <div class={overviewPageHero.content}>
              <Chapter chapter="WEALTH MATTERS" />
              <Title />
            </div>
            <div class={overviewPageHero.exploreBox}>
              <div class={overviewPageHero.explore}>
                <p data-bsi-element-part="plain-text">Explore</p>
              </div>
            </div>
          </div>
        </div>
      </div>