.backtotop {
  max-width: 100vw;
}

.backtotop_linkArea {
  width: 100%;
  padding: 60px 0;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.backtotop_linkText {
  font-size: 16px;
  line-height: 130%;
  color: var(--royalblue);
}

.backtotop_linkArea img {
  transform: rotate(90deg);
  margin-left: 23px;
}

@media only screen and (max-width: 1023px) {
  .backtotop_linkArea {
    padding: 40px 0;
  }

  .backtotop_linkText {
    font-size: 14px;
  }
}
