<section class="backtotop" data-bsi-element="backtotop">
  <a href="#top" class="backtotop_linkArea">
    <p data-bsi-element-part="plain-text" class="backtotop_linkText">
      Back to top
    </p>
    <img src="{{ bsi_cx_asset('./arrow.svg') }}" />
  </a>
</section>
