<div className={backToTop.section} data-bsi-element="backtotop">
      <a href="#top" className={backToTop.linkArea}>
        <p data-bsi-element-part="plain-text" className={backToTop.linkText}>
          Back to top
        </p>
        <img src="icons/arrow.svg" />
      </a>
    </div>