{# It should be possible to use layout components as BSI Elements, re-usable section containers or simple dropzones #}
{# If the element is used as a layout element. In this case the markup must be constant #}

<div data-bsi-element="full-width"
    data-bsi-hide-edit-button="true"
    class="full-width-layout">
    <div data-bsi-dropzone="full-width-layout-container"
        data-bsi-dropzone-allowed-elements="one-column"></div>
</div>
