.introduction_section {
    background-color: var(--grey);
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 120px 0;
    scroll-snap-align: start;
    box-sizing: border-box;
}

.introduction_introWrapper {
    max-width: 1440px;
    width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto 0 12%;
}

.introduction_chapter {
    padding: 40px;
    margin: auto 0;
}

.introduction_chapter div:first-child {
    transform: rotate(-90deg);
}

.introduction_content {
    margin: auto;
    width: 396px;
}

@media only screen and (max-width: 1023px) {
    .introduction_section {
        /* flex-direction: column; */
        padding: 60px 0 80px 0;
        width: auto;
        /* width: auto;
    max-width: 480px;
    margin: 96px auto 120px; */
    }

    .introduction_section .introduction_chapter {
        display: none;
    }

    .introduction_introWrapper {
        width: auto;
        flex-direction: column-reverse;
        max-width: 100%;
        margin: 0 auto 0;
    }

    .introduction_chapter div:first-child {
        transform: rotate(0deg);
        order: 1;
    }

    .introduction_section div:first-child {
        order: 1;
    }

    .introduction_section div:nth-child(2) {
        order: 3;
    }

    .introduction_section .introduction_content {
        order: 2;
    }

    .introduction_content {
        margin: auto;
        width: var(--contentWidthMobile);
        margin-bottom: 20px;
    }

    .introduction_cardWrapper {
        width: var(--contentWidthMobile);
        margin: auto;
    }

    .introduction_cardWrapper > div {
        width: 100%;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
    .introduction_section {
        height: auto;
        padding: 60px 0 96px 90px;
    }

    .introduction_introWrapper {
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
    }

    .introduction_content {
        width: 352px;
    }

    .introduction_section .introduction_chapter {
        display: none;
    }
}
