.section {
  background-color: var(--grey);
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 120px 0;
  scroll-snap-align: start;
  box-sizing: border-box;
}

.introWrapper {
  max-width: 1440px;
  width: 1440px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto 0 12%;
}

.chapter {
  padding: 40px;
  margin: auto 0;
}

.chapter div:first-child {
  transform: rotate(-90deg);
}

.content {
  margin: auto;
  width: 396px;
}

@media only screen and (max-width: 1023px) {
  .section {
    /* flex-direction: column; */
    padding: 60px 0 80px 0;
    width: auto;
    /* width: auto;
    max-width: 480px;
    margin: 96px auto 120px; */
  }

  .section .chapter {
    display: none;
  }

  .introWrapper {
    width: auto;
    flex-direction: column-reverse;
    max-width: 100%;
    margin: 0 auto 0;
  }

  .chapter div:first-child {
    transform: rotate(0deg);
    order: 1;
  }

  .section div:first-child {
    order: 1;
  }

  .section div:nth-child(2) {
    order: 3;
  }

  .section .content {
    order: 2;
  }

  .content {
    margin: auto;
    width: var(--contentWidthMobile);
    margin-bottom: 20px;
  }

  .cardWrapper {
    width: var(--contentWidthMobile);
    margin: auto;
  }

  .cardWrapper > div {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .section {
    height: auto;
    padding: 60px 0 96px 90px;
  }

  .introWrapper {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
  }

  .content {
    width: 352px;
  }

  .section .chapter {
    display: none;
  }
}
