.subheading h4 {
  font-size: 30px;
  line-height: 130%;
  font-weight: 500;
  margin: 0;
}

@media only screen and (max-width: 1023px) {
  .subheading h4 {
    font-size: 23px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .subheading h4 {
    font-size: 23px;
  }
}
