.interviewteaser_teaser {
    display: flex;
    flex-direction: column;
    width: 295px;
}

.interviewteaser_teaser:hover .interviewteaser_articleImage {
    transform: scale(1interviewteaser_1);
}

.interviewteaser_articleImageWrapper {
    overflow: hidden;
    height: 295px;
    width: 295px;
    margin-bottom: 40px;
}

.interviewteaser_articleImage {
    height: 295px;
    width: 295px;
    transition: transform 500ms ease-out;
}

.interviewteaser_teaser b {
    opacity: 0.4;
}

.interviewteaser_teaser q {
    font-size: 23px;
    line-height: 140%;
    margin: 24px 0;
}

.interviewteaser_quote {
    margin: 24px 0;
}

.interviewteaser_teaser .interviewteaser_author {
    font-size: 14px;
    line-height: 130%;
    margin: 0;
    margin-bottom: 40px;
}

@media only screen and (max-width: 1023px) {
    .interviewteaser_teaser {
        width: 100%;
        margin-bottom: 80px;
    }

    .interviewteaser_articleImage {
        width: 100%;
        height: auto;
    }

    .interviewteaser_teaser q {
        font-size: 18px;
        line-height: 130%;
    }

    .interviewteaser_teaser .interviewteaser_author {
        font-size: 12px;
    }
}
