<div className={styles.teaser} data-bsi-element="interviewteaser">
      <div className={styles.articleImageWrapper}>
        <img data-bsi-element-part="image" src="img/square.jpg" className={styles.articleImage} />
      </div>
      <b data-bsi-element-part="plain-text">WEB 3.0</b>
      <div className={styles.quote}>
        <q data-bsi-element-part="formatted-text">
          A collaborative medium, a place where we could all meet and read and write.
        </q>
      </div>
      <div data-bsi-element-part="formatted-text">
        <p className={styles.author}>Yves Bonzon, CIO</p>
      </div>
      <Button dark />
    </div>