<div class="interviewteaser_teaser" data-bsi-element="interviewteaser">
    <div class="interviewteaser_articleImageWrapper">
        <img data-bsi-element-part="image"
            src="{{ bsi_cx_asset('./square.jpg') }}"
            class="interviewteaser_articleImage" />
    </div>
    <b data-bsi-element-part="plain-text">WEB 3.0</b>
    <div class="interviewteaser_quote">
        <q data-bsi-element-part="formatted-text">
            A collaborative medium, a place where we could all meet and read and
            write.
        </q>
    </div>
    <div data-bsi-element-part="formatted-text">
        <p class="interviewteaser_author">
            Yves Bonzon, CIO
        </p>
    </div>
    {% include '../../elements/Button/template.twig' with {
        dark: true
    } %}
</div>
