 <section class="detailpagehero_section" id="top" data-bsi-element="detailhero">
      <div class="detailpagehero_blueCanvas">
        <div class="detailpagehero_content">
          <DetailHeroSubtitle text="How to Invest" />
          <div class="detailpagehero_chapter">
            <Chapter chapter={props.chapter} />
          </div>
          <div class="detailpagehero_subtitle">
            <Subtitle subtitle={props.subtitle} />
          </div>
          <div class="detailpagehero_textBox">
            <Text text={props.text} />
          </div>
        </div>
      </div>
      <div class="detailpagehero_image">
        <img data-bsi-element-part="image" src="./detailpage_hero.jpg" />
      </div>
    </section>