<div data-bsi-element="image-cropped"
    class="cropped-image-container cropped-image-height-full cropped-image-width-full cropped-positioning-horizontal-centered cropped-positioning-vertical-centered cropped-positioning-max-width">
    <img src="img/visual_sample.jpg" alt="" data-bsi-element-part="image"/>
</div>
