<header data-bsi-element="top-bar" class="language-block language-shown">
    <div class="full-width-layout top-bar-container top-bar-centered">
        <div data-bsi-dropzone="language-switcher" class="language">
            {% include '../../elements/language-switcher/template.twig' %}
        </div>
        <div class="logo-block">
            <img src="{{
                bsi_cx_asset(
                    '../../../../../resources/img/juliusbaer-logo-blue.svg'
                )
                }}"
                alt="logo"
                class="logo" />
        </div>
    </div>
</header>
