<header data-bsi-element="top-bar" class="language-block language-shown">
    {% embed '../../layout/full-width/template.twig'
        with {
            simple_container: 'top-bar',
            container_class: 'top-bar-container top-bar-centered'
        }
    %}
        {% block simple_container_content %}
            <div data-bsi-dropzone="language-switcher" class="language">
                {% include '../../elements/language-switcher/template.twig' %}
            </div>
            <div class="logo-block">
                <img src="../../../../resources/img/juliusbaer-logo-blue.svg"
                    alt="logo"
                    class="logo" />
            </div>
        {% endblock %}
    {% endembed %}
</header>
