<div className={header.section} data-bsi-element="detailheader">
      {/*<div className={header.scrollBarWrapper}>{scrollY ? <div /* style={{width: Number(scrollY) + 'px'}}  className={header.scrollBar}></div> : ''}</div>*/}
      <a
        data-bsi-element-part="link"
        data-bsi-link-fixed-inner-html=""
        href="[backlink]"
        className={header.backArrow}
      >
        <img src="icons/arrow.svg" />
        <p className={header.linkBack} data-bsi-element-part="plain-text">
          Back to homepage
        </p>
      </a>
      <div className={header.logo}>
        <img src="img/juliusbaer-logo-blue.svg" />
      </div>
      {/*<p>Scroll position: {scrollY}px</p>*/}
      <div className={header.button}>
        <Button dark downloadIcon text="Order Publication" buttonLink="[orderPublication]" />
      </div>
    </div>