.two-column-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    /* container padding should be controlled inline, when using the element in twig, which will override this property */
    padding: 0;
    /* mobile first */
    flex-direction: column;
}

/* mobile first, expand half container width to full container width in mobile width */
.two-column-layout > div {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* assure that column contents always expand to max column width */
.two-column-layout > div > * {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
}

@media (min-width: 700px) {
    /* assure that column width is always half */
    .two-column-layout > div {
        width: 50%;
    }
    .two-column-layout {
        flex-direction: row;
    }
}

@media (max-width: 700px) {
    .two-column-layout > div {
        /* In Desktop view, column padding is controlled via the padding parameters specified to the layout embeds */
        /* in Mobile view, it's disabled by default, and should be applied to the single BSI elements, if desired */
        padding: 0 !important;
    }
}
