{# It should be possible to use layout components as BSI Elements, re-usable section containers or simple dropzones #}
{# If the element is used as a layout element. In this case the markup must be constant #}

<div data-bsi-element="one-one"
    data-bsi-hide-edit-button="true"
    class="two-column-layout">
    <div data-bsi-dropzone="two-column-layout-container-one"
        data-bsi-dropzone-allowed-elements="image-cropped image-normal spacer divider text-formatted text-plain button"></div>
    <div data-bsi-dropzone="two-column-layout-container-two"
        data-bsi-dropzone-allowed-elements="image-cropped image-normal spacer divider text-formatted text-plain button"></div>
</div>
