<section class="figure_section" data-bsi-element="figure">
<figure>
<img data-bsi-element-part="image" src="{{ bsi_cx_asset('./educational.jpg') }}" />
<figcaption>
Image Description
</figcaption>
</figure>
</section>