<>
      <div
        className={description.input}
        /* type="radio" */
        id={props.id}
        /* defaultChecked={props.defaultChecked ? true : false} */
      ></div>
      <div className={description.title} htmlFor={props.id}>
        <div className={description.box}>
          <div className={description.titleText}>
            <h3>{props.subheading}</h3>
            <img className={description.icon} src="/icons/plus.svg" />
          </div>
          <div className={description.text}>
            <p>{props.text}</p>
          </div>
        </div>
      </div>
    </>