.section {
  max-width: var(--normalWidthText);
  margin: 96px auto 120px;
}

.section h4 {
  margin-bottom: 40px;
}

.section li::marker {
  content: "—   ";
}

@media only screen and (max-width: 767px) {
  .section {
    margin: 60px auto;
    max-width: var(--contentWidthMobile);
  }

  .section h4 {
    margin-bottom: 16px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .section {
    margin: 60px auto;
    max-width: var(--textWidthTablet);
  }

  .section h4 {
    margin-bottom: 16px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .section {
    margin: 80px auto;
    max-width: var(--textWidthDesktop);
  }

  .section h4 {
    margin-bottom: 16px;
  }
}
