<div class={TextBlockStyles.section} data-bsi-element="textblock">
      <Subheading subheading={props.subheading} />
      <Text>
        {props.children}
        {/* <p>
          We firmly believe that there is more to blockchain technology than its use merely for
          digital transactions. We understand the technology as an enabler of the next technical
          revolution, affecting not only the financial world, but economies and societies as a
          whole.
          <ul>
            <li>
              <b>Healthcare:</b> Patient records are cumbersome to share – this is the status quo in
              most healthcare systems. Having health-related records stored on a distributed ledger,
              such as a blockchain, enables faster access, especially relevant in an emergency, and
              can enable anonymous patient data analysis on a scale previously unknown.
            </li>
          </ul>
        </p> */}
      </Text>
    </div>