.interviewblock_section {
  max-width: var(--contentWidth);
  margin: 120px auto;
}

.interviewblock_section h4 {
  margin-bottom: 40px;
}

.interviewblock_name {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media only screen and (max-width: 1023px) {
  .interviewblock_section {
    margin: 80px auto;
    max-width: var(--contentWidthMobile);
  }
}
