<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ properties.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style></style>
  </head>
  <body>
    <header data-bsi-dropzone="header">
      {% block header %}

      {% endblock %}
    </header>

    <main data-bsi-dropzone="main">
      {% block main %}

      {% endblock %}
    </main>

    <footer data-bsi-dropzone="footer">
      {% block footer %}

      {% endblock %}
    </footer>
  </body>
</html>
