<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ properties.title }}</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <style>
    {{ bsi_cx_css_inline() }}
  </style>
</head>
<body>

{# Be aware, that this is no valid email template. #}

<main data-bsi-dropzone="a1683342-d4a7-4c26-924e-bce162c4399f">
  {% block main %}{% endblock %}
</main>

<footer>
  Built for BSI CX {{ cx.version.TARGET.toString() }}
</footer>

</body>
</html>
